<div id="modalCall">
  <h2 mat-dialog-title>Solicite una llamada para cotizar su seguro</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h3 class="subtitle">Todos los campos son obligatorios</h3>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group select-bolivar">
          <label for="name">Tipo de documento</label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="CC">
                <mat-option value="CC">CC</mat-option>
                <mat-option value="CE">CE</mat-option>
                <mat-option value="PA">PA</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="name">Número de documento</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: 113990920">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="name">Nombres</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: Paola">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="name">Apellidos</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: Suárez">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="name">Número de contacto</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: 3136782341">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="name">Correo electrónico</label>
          <input type="text" class="form-control" id="name" placeholder="Ej: psuarez1@gmail.com">
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="form-group select-bolivar">
          <label for="name">Seguro de su interés</label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Seleccione el seguro">
                <mat-option value="CC">Salud</mat-option>
                <mat-option value="CE">Hogar</mat-option>
                <mat-option value="PA">Autos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 mb-4">
        <p class="terminos">Al hacer clic en “Solicitar llamada” declara haber leído nuestras políticas de <a href="#">Tratamiento de Datos Personales</a>.</p>
      </div>


    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="center" class="btns">
    <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>SOLICITAR LLAMADA</button>
  </mat-dialog-actions>
</div>