@import '../../../../assets/styles/variables';

#directory {
    margin: 48px 0;
    @media screen and (max-width:640px) {
        margin: 36px 0;
    }
    .title {
        h3 {
            margin-bottom: 16px;
            color: $primary-one;
        }
    }
    .txt-dir {
        padding: 24px;
        h5 {
            color: #333333;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
        }
        p {
            color: #333333;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
