<div id="directory">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h3>¿Cómo usar el seguro?</h3>
          <h4>Resolvemos sus inquietudes al instante.</h4>
        </div>
        <!-- colapsable 1 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false"
              aria-controls="collapse1">
              <span class="icon-arrow-down"></span>
              Oficinas en Bogotá
            </a>
          </p>
          <div class="collapse" id="collapse1">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 2 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="true"
              aria-controls="collapse2">
              <span class="icon-arrow-down"></span>
              Oficinas en el resto del país
            </a>
          </p>
          <div class="collapse show" id="collapse2">
            <div class="txt-dir">
              <div class="row mb-4">
                <div class="col-12 col-md-4">
                  <h5>Armenia</h5>
                  <p>Carrera 14 # 22 norte - 38</p>
                  <p>Teléfono: (6) 736 8920</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Ibagué</h5>
                  <p>Carrera 4 # 10 - 73</p>
                  <p>Teléfono: (8) 261 1962</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Pasto</h5>
                  <p>Carrera 36 # 12 - 52</p>
                  <p>Teléfono: (2) 723 3155</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-12 col-md-4">
                  <h5>Medellín</h5>
                  <p>Calle 44 # 69 - 06</p>
                  <p>Teléfono: (4) 493 8080</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Pereira</h5>
                  <p>Calle 20 # 6 - 56</p>
                  <p>Teléfono: (6) 335 6557</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Bucaramanga</h5>
                  <p>Calle 36 # 17 - 25 • Piso 4</p>
                  <p>Teléfono: (7) 652 1818</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-12 col-md-4">
                  <h5>Santa Marta</h5>
                  <p>Carrera 4 # 13 - 14 • Piso 2</p>
                  <p>Teléfono: (5) 421 4081 / 82</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Montería</h5>
                  <p>Calle 29 # 2 - 21</p>
                  <p>Teléfono: (4) 781 0509</p>
                </div>
                <div class="col-12 col-md-4">
                  <h5>Sincelejo</h5>
                  <p>Calle 23 # 18 - 31</p>
                  <p>Teléfono: (5) 282 4216</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- colapsable 3 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false"
              aria-controls="collapse3">
              <span class="icon-arrow-down"></span>
              Oficinas corredores
            </a>
          </p>
          <div class="collapse" id="collapse3">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 4 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false"
              aria-controls="collapse4">
              <span class="icon-arrow-down"></span>
              ARL
            </a>
          </p>
          <div class="collapse" id="collapse4">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 5 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false"
              aria-controls="collapse5">
              <span class="icon-arrow-down"></span>
              Centros médicos aliados en Bogotá
            </a>
          </p>
          <div class="collapse" id="collapse5">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>