<div class="header-white">
  <app-header></app-header>
</div>

<app-breadcrumb></app-breadcrumb>

<div id="banner">
  <div class="lead-banner">
    <div class="text-lead">
      <h1>GOBIERNO CORPORATIVO</h1>
      <p>Nuestro Sistema de Gobierno Corporativo recoge los lineamientos, funciones y reglas que rigen las acciones de los diferentes órganos de gobierno de Seguros Bolívar.</p>
       
    </div>
  </div>
  <div class="img-banner">
    <picture>
      <source media="(min-width: 1025px)" srcset="../../../../assets/img/bg-template.jpg"> <!-- desktop -->
      <source media="(min-width: 640px)" srcset="../../assets/img/bg-template-tablet.jpg"> <!-- tablet -->
      <img src="../../assets/img/bg-template-mobile.jpg" alt="Seguros Bolívar"> <!-- mobile -->
    </picture>
  </div>
</div> <!-- cierre banner -->

<div class="cont-template">
  <app-directory></app-directory>
  <app-documents></app-documents>
  <app-paginator></app-paginator>
  <app-cards></app-cards>
  <app-quote></app-quote>
</div>
<app-multimedia></app-multimedia>
<app-text-photo></app-text-photo>
<app-text-list></app-text-list>
<app-images></app-images>
<app-footer></app-footer>
