@import '../../../assets/styles/variables';

#banner {
    position: relative;
    background-color: #333;
    @media screen and (max-width: 640px) {
    }

    /* &:before {
      content: '';
      background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 100%);
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      max-height: 330px;

      @media screen and (max-width: 640px) {
        max-height: 345px;
      }
    } */

    .img-banner {
      @media screen and (min-width: 640px) {
        max-height: 330px;
        overflow: hidden;
      }
      @media screen and (min-width: 1200px) {
        overflow: hidden;
      }

      picture {
        max-height: 475px;

        img {
          width: 100%;
        }
      }
    }
  }

  .lead-banner {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 640px) and (max-width: 990px) {
      max-width: 720px;
    }

    @media screen and (max-width: 640px) {
      display: flex;
      justify-content: center;
    }

    .text-lead {
      position: absolute;
      z-index: 3;
      top: 110px;
      padding: 0 15px;
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      padding: 16px;
      
      @media screen and (max-width: 990px) {
        text-align: center;
        width: 90%;
        top: 60px;
      }

      h1 {
        color: $secondary-one;
        font-size: 36px;
        font-weight: bold;
        filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

        @media screen and (min-width: 375px) and (max-width: 540px) {
          font-size: 26px;
        }

        @media screen and (max-width: 375px) {
          font-size: 22px;
        }
      }

      P {
        color: $white;
        font-size: 20px;
        text-align: center;
        max-width: 760px;
        filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

        @media screen and (max-width: 640px) {
          font-size: 14px;
        }
      }
    }
  }


  .cont-template {
      max-width: 960px;
      margin: 48px auto;
  }
