<div id="customerServices">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-services">
          <h3>ATENCIÓN AL CLIENTE</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-1.svg" alt="Atención al Cliente">
          <p>Directorio Médico ARL</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-2.svg" alt="Atención al Cliente">
          <p>Directorio Médico Internacional</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-3.svg" alt="Atención al Cliente">
          <p>Directorio Médico en Colombia para otras pólizas</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-4.svg" alt="Atención al Cliente">
          <p>Directorio Salud Integral y Médico de confianza</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-5.svg" alt="Atención al Cliente">
          <p>Talleres autorizados</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-6.svg" alt="Atención al Cliente">
          <p>Preguntas frecuentes</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-7.svg" alt="Atención al Cliente">
          <p>Quejas y reclamos</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="services">
          <img src="../../../../assets/img/atencion-cliente/ico-8.svg" alt="Atención al Cliente">
          <p>Sucursales y oficinas</p>
        </div>
      </div>
    </div>
  </div>
</div>