#customerServices {
    padding: 48px 0;
    background-color: #EAEAEA;
    @media screen and (max-width: 640px) {
        padding: 24px 24px 0;
    }
    .title-services {
        margin-bottom: 24px;
        h3 {
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            text-align: center;
        }
    }
    .services {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        img {
            margin-right: 8px;
        }
        p {
            color: #333333;
            font-size: 14px;
            line-height: 21px;
        }
    }
}