@import '../../../../assets/styles/variables';

#multimedia {
    background-color: #F4F2EE;
    padding: 64px 0 36px 0;
    @media screen and (max-width: 640px) {
        padding: 36px 0;
    }
    .container {
        max-width: 960px;
    }
}