<div id="multimedia">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <a class="card-multimedia" href="#">
          <div class="thumbnaill">
            <span class="icon-play"></span>
            <img src="../../../../assets/img/multimedia/mul-1.jpg" alt="Multimedia">
            <p class="duracion">0:52</p>
          </div>
          <div class="txt">
            <p>Disciplina</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a class="card-multimedia" href="#">
          <div class="thumbnaill">
            <span class="icon-play"></span>
            <img src="../../../../assets/img/multimedia/mul-2.jpg" alt="Multimedia">
            <p class="duracion">1:00</p>
          </div>
          <div class="txt">
            <p>Entusiasmo</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a class="card-multimedia" href="#">
          <div class="thumbnaill">
            <span class="icon-play"></span>
            <img src="../../../../assets/img/multimedia/mul-3.jpg" alt="Multimedia">
            <p class="duracion">1:22</p>
          </div>
          <div class="txt">
            <p>Equidad</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a class="card-multimedia" href="#">
          <div class="thumbnaill">
            <span class="icon-play"></span>
            <img src="../../../../assets/img/multimedia/mul-4.jpg" alt="Multimedia">
            <p class="duracion">2:35</p>
          </div>
          <div class="txt">
            <p>Honestidad</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a class="card-multimedia" href="#">
          <div class="thumbnaill">
            <span class="icon-play"></span>
            <img src="../../../../assets/img/multimedia/mul-5.jpg" alt="Multimedia">
            <p class="duracion">1:40</p>
          </div>
          <div class="txt">
            <p>Respeto</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>