<nav class="bread">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="#">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Segundo nivel</a>
      </li>
    </ol>
  </div>
</nav>