@import '../../../../assets/styles/variables';

.bread {
  padding-top: 90px;
  background-color: #F6F9F7;

  .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;

    .breadcrumb-item {
      &.active {
        a {
          color: $primary-one;
        }
      }

      a {
        color: #333333;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}