<div id="nuestroBlog">
  <div class="title-blog container">
    <h2 class="mr-auto">Nuestro blog</h2>
    <a href="#" class="text-link-primary">VISITAR EL BLOG ></a>
  </div>
  <div class="blog container">

    <ngu-carousel #carouselBlog [inputs]="carouselBlogConfig" [dataSource]="[first, second, third]">
      <div *nguCarouselDef="let item;" class="item">
        <div class="tile">
          <ng-container *ngTemplateOutlet="item"></ng-container>
        </div>
      </div>

      <ng-template #first>
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../assets/img/blog/blog-1.png" alt="Blog">
              </div>
              <div class="txt-blog">
                <h3>¿Pensando asegurar su mascota?</h3>
                <p>Por mas cuidados que se tengan, nunca esta exento que su mascota sufra un accidente, una pelea e
                  incluso muerda a alguien o sea atropellado por un carro.</p>
              </div>
            </div>
          </a>
        </div>
      </ng-template>

      <ng-template #second>
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../assets/img/blog/blog-2.png" alt="Blog">
              </div>
              <div class="txt-blog">
                <h3>¿Pensando asegurar su mascota?</h3>
                <p>Por mas cuidados que se tengan, nunca esta exento que su mascota sufra un accidente, una pelea e
                  incluso muerda a alguien o sea atropellado por un carro.</p>
              </div>
            </div>
          </a>
        </div>
      </ng-template>

      <ng-template #third>
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../assets/img/blog/blog-3.png" alt="Blog">
              </div>
              <div class="txt-blog">
                <h3>¿Pensando asegurar su mascota?</h3>
                <p>Por mas cuidados que se tengan, nunca esta exento que su mascota sufra un accidente, una pelea e
                  incluso muerda a alguien o sea atropellado por un carro.</p>
              </div>
            </div>
          </a>
        </div>
      </ng-template>

      <ul class="myPoint" NguCarouselPoint> 
        <li *ngFor="let j of carouselBlog.pointNumbers; let j = index" [class.active]="j==carouselBlog.activePoint" (click)="carouselBlog.moveTo(j)"></li>
      </ul>

    </ngu-carousel>
  </div>

</div>