@import '../../../../assets/styles/variables';

#nuestroBlog {
  padding: 64px 0;
  @media screen and (max-width: 640px) {
    padding: 36px 0;
  }
  .title-blog {
    display: flex;
    margin-bottom: 16px;
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
    }
    h2 {
      color: $primary-one;
      font-size: 35px;
      font-weight: bold;
      @media screen and (max-width: 640px) {
        font-size: 22px;
      }
    }
  }
  .blog {
    @media screen and (max-width: 640px) {
      padding: 0;
    }
  }
}

.myPoint {
  @media screen and (min-width: 990px) {
    display: none;
  }
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
  li{
      background: #D6D6D6;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      margin: 0 7px;
      padding: 5px;
      transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: 0.4s;
      &.active,
      &:hover{
          background: #869791;
      }
  }
} 