<div id="banner">
  <div class="content">
    
  </div>
  <div class="lead-banner">
    <div class="text-lead">
      <h1>VIAJE CON TRANQUILIDAD Y PROTEJA A SU FAMILIA </h1>
      <p class="subtitle">CONOZCA NUESTRO SEGURO PARA VEHÍCULOS ></p>
    </div>
  </div>
  <div class="img-banner">
    <picture>
      <source media="(min-width: 1025px)" srcset="../../assets/img/bg-home.jpg">
      <source media="(min-width: 640px)" srcset="../../assets/img/bg-home-tablet.jpg">
      <img src="../../assets/img/bg-home-mobile.jpg" alt="Seguros Bolívar">
    </picture>
  </div>
  <div class="quoting">
    <app-quoting></app-quoting>
  </div>
  <app-emergency></app-emergency>
</div> <!-- cierre banner -->
