@import '../../../../assets/styles/variables';

#banner {
  position: relative;
  padding-top: 30px;
  background-color: #333;
  padding-bottom: 48px;

  &:before {
    content: '';
    //background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25%;
    max-height: 475px;

    @media screen and (max-width: 640px) {
      max-height: 345px;
    }
  }

  .img-banner {
    @media screen and (min-width: 1200px) {
      height: 475px;
      overflow: hidden;
    }

    picture {
      max-height: 475px;

      img {
        width: 100%;
      }
    }
  }
}

.lead-banner {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    max-width: 930px;
  }

  @media screen and (min-width: 640px) and (max-width: 990px) {
    max-width: 680px;
  }

  @media screen and (max-width: 640px) {
    display: flex;
    justify-content: center;
  }

  .text-lead {
    position: absolute;
    z-index: 3;
    top: 190px;
    background-color: rgba(0,0,0,0.6);
    padding: 24px 36px;

    @media screen and (min-width: 640px) and (max-width: 990px) {
      top: 160px;
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      width: 90%;
      padding: 8px 24px;
    }

    @media screen and (min-width: 375px) and (max-width: 540px) {
      top: 180px;
    }

    @media screen and (max-width: 374px) {
      top: 140px; 
    }

    h1 {
      max-width: 400px;
      color: $white;
      font-size: 36px;
      font-weight: bold;
      filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

      @media screen and (min-width: 375px) and (max-width: 540px) {
        font-size: 22px;
      }

      @media screen and (max-width: 375px) {
        font-size: 18px;
      }
    }

    .subtitle {
      color: $secondary-one;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

      @media screen and (max-width: 640px) {
        font-size: 12px;
      }
    }
  }
}

.quoting {
  position: relative;
  margin-top: -50px;
  width: 100%;
  z-index: 2;
}
