<div id="paginator">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <p class="text-pag">Mostrando 1 al 6 de 31 registros</p>
      </div>
      <div class="col-12 col-md-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-4">
        <div class="num-page">
          <p>Centros médicos por página</p>
          <div class="num-select">
            <form>
              <mat-form-field appearance="outline">
                <mat-select value="option2" placeholder="1">
                  <mat-option value="option1">1</mat-option>
                  <mat-option value="option2">50</mat-option>
                  <mat-option value="option3">100</mat-option>
                </mat-select>
                <span class="icon-arrow-down"></span>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
