@import '../../../../assets/styles/variables';

#paginator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
        color: #333333;
        font-size: 14px;
        @media screen and (max-width:640px) {
            text-align: center;
        }
    }
    p.text-pag {
        @media screen and (max-width:640px) {
            margin-bottom: 16px;
        }
    }
    .pagination {
        justify-content: center;
        @media screen and (max-width:640px) {
            margin-bottom: 16px;
        }
        .page-item {
            margin: 0 4px;
          &.active {
            .page-link {
              color: $text-02;
              background-color: $secondary-one;
            }
          }
          .page-link {
            border: 0;
            color: $text-02;
            border-radius: 50%;
          }
        }
    }
    .num-page {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin-right: 16px;
        }
        .num-select {
            max-width: 90px;
        }
    }
}
