<div id="textList">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title"> 
          <h3>Política ambiental de Seguros Bolívar</h3>
        </div>
        <div class="txt">
          <p>En concordancia con los lineamientos de la declaración de sostenibilidad del Grupo Bolívar, entendemos que nuestros negocios son ambiental y socialmenteresponsables, de tal forma que busquen contribuir con la mitigación del cambio climático.</p>
          <p>De esta forma, buscamos:</p>
          <ul>
            <li>
              <p>Cumplir con la normatividad ambiental y social aplicable.</p>
            </li>
            <li>
              <p>Incluir los criterios ambientales y sociales en el proceso de inversiones y definir el sistema de
                administración de riesgos ambientales y sociales para los procesos relevantes de la Compañía.</p>
            </li>
            <li>
              <p>Promover en nuestros aliados la gestión de impactos ambientales y sociales producto de sus actividades.
              </p>
            </li>
            <li>
              <p>Prevenir, mitigar y compensar los impactos ambientales generados por las actividades de la
                Organización.</p>
            </li>
            <li>
              <p>Desarrollar seguros que apoyen el desarrollo sostenible aplicando criterios ambientales y sociales.</p>
            </li>
            <li>
              <p>Desarrollar y mantener programas que promuevan la cultura ambiental en los funcionarios de la Compañía.
              </p>
            </li>
            <li>
              <p>Apoyar al sector asegurador colombiano en las mejores prácticas enfocadas a la inversión sostenible.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>