@import '../../../../assets/styles/variables';

#textList {
    background-color: #F6F9F7;
    padding: 64px 0 48px 0;
    @media screen and (max-width: 640px) {
        padding: 48px 0;
    }
    .container {
        max-width: 786px;
        .txt {
            padding-left: 24px;
            @media screen and (max-width: 640px) {
                padding-left: 8px;
            }
            p {
                color: #333333;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            ul {
                list-style: disc;
                padding-left: 16px;
                color: $primary-one;
                font-size: 1.5rem;
            }
        }
    }
}