<footer id="footer">
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <!-- col left -->
        <div id="coLeft" class="col-12 col-md-6">
          <!-- colapsible 1 -->
          <div class="colap-item">
            <p class="cont-link">
              <a class="link-text" data-toggle="collapse" href="#collapseFooter1" role="button" aria-expanded="false"
                aria-controls="collapseFooter1">
                ACERCA DE NOSOTROS
                <span class="icon-arrow-down"></span>
              </a>
            </p>
            <div class="collapse show" id="collapseFooter1">
              <div class="cont-item">
                <ul class="two-col">
                  <li><a href="#">Quiénes somos</a></li>
                  <li><a href="#">Gobierno Corporativo</a></li>
                  <li><a href="#">Documentos del Sistema de Gobierno Corporativo</a></li>
                  <li><a href="#">Sobre el Buen Gobierno</a></li>
                  <li><a href="#">Junta Directiva</a></li>
                  <li><a href="#">Superintendecia Financiera</a></li>
                  <li><a href="#">Sistema de atención al consumidor financiero</a></li>
                  <li><a href="#">Nuestros asesores</a></li>
                  <li><a href="#">Reseña Histórica</a></li>
                  <li><a href="#">Modelo de Sostenibilidad</a></li>
                  <li><a href="#">Dimensión ambiental</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- col right -->
        <div id="coRight" class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <!-- colapsible 3 -->
              <div class="colap-item">
                <p class="cont-link">
                  <a class="link-text" data-toggle="collapse" href="#collapseFooter3" role="button" aria-expanded="false"
                    aria-controls="collapseFooter3">
                    INFORMES
                    <span class="icon-arrow-down"></span>
                  </a>
                </p>
                <div class="collapse show" id="collapseFooter3">
                  <div class="cont-item">
                    <ul>
                      <li><a href="#">Informes Financieros</a></li>
                      <li><a href="#">Informes de Sostenibilidad</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="contact">
                <p class="cont-link">
                  <a class="link-text">
                    CONTACTO
                  </a>
                </p>
              </div>
              <div id="tresVeintidos">
                <p class="mb-4">Comuníquese con nosotros, marcando sin costo desde cualquier celular al <b>#322</b> o a nivel nacional al <b>018000 123322</b>, y de inmediato lo pondremos en contacto con uno de nuestros Asesores.</p>
                <p>Si lo prefiere, escribanos a <a href="#"><span class="icon-whatsapp"></span> WHATSAPP</a></p>
                <P>En caso de ser proveedor o intermediario, comuníquese con nuestra línea de atención #322</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="our-projects">
        <ul>
          <li><a href="#">Grupo Bolivar</a></li>
          <li><a href="#">Asistencia Bolivar</a></li>
          <li><a href="#">Ciencuadras</a></li>
          <li><a href="#">Reaseguradores</a></li>
          <li><a href="#">Proveedores</a></li>
          <li><a href="#">Avaluos de crédito</a></li>
          <li><a href="#">Trabaje con nosotros</a></li>
        </ul>
      </div>
      <div class="social">
        <span class="icon-facebook"></span>
        <span class="icon-youtube"></span>
        <span class="icon-twitter"></span>
      </div>
      <div class="legals">
        <ul>
          <li><a href="#">Términos y condiciones de uso</a></li>
          <li><a href="#">Políticas de Seguridad</a></li>
          <li><a href="#">Políticas de Privacidad</a></li>
          <li><a href="#">Ley FACTA</a></li>
        </ul>
      </div>
      <div class="copy">
        <p>© 2019 - Seguros Bolívar S.A. · Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
