@import '../../../../assets/styles/variables';

#footer {
  .pre-footer {
    padding: 36px;
    background-color: $primary-one;

    @media screen and (max-width: 640px) {
      padding: 36px 16px;
    }

    .colap-item {
      margin-bottom: 16px;

      @media screen and (max-width: 640px) {
        border-bottom: 0.5px solid white;
      }

      .cont-link {
        //border-bottom: 0.5px solid #646464;

        @media screen and (max-width: 640px) {
          border-bottom: 0;
        }

        .link-text {
          color: $white;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          align-items: center;

          &:hover {
            text-decoration: none;
          }

          .icon-arrow-down {
            margin-left: auto;
            font-size: 1.7rem;
            transition: .3s ease;
            transform: rotate(180deg);
            display: none;

            @media screen and (max-width: 640px) {
              display: flex;
            }
          }
        }

        .link-text.collapsed {
          .icon-arrow-down {
            transform: rotate(0deg);
          }
        }
      }

      .cont-item {
        padding: 8px 0;

        ul.two-col {
          column-count: 2;
          -moz-column-count: 2;
          -webkit-column-count: 2;
          width: 100%;

          @media screen and (max-width: 640px) {
            column-count: 1;
            -moz-column-count: 1;
            -webkit-column-count: 1;
          }
        }

        ul {
          li {
            a {
              color: #9BE9BA;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }

    #tresVeintidos {
      text-align: left;

      img {
        margin-bottom: 8px;
      }

      p {
        color: $white;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;

        b {
          color: $complementary-three;
        }

        a {
          color: $complementary-three;
        }
      }
    }

    .link-text {
      color: $complementary-three;
      font-size: 14px;
      font-weight: bold;

    }
  }

  .footer {
    background-color: $primary-one;
    padding-bottom: 24px;

    .our-projects {
      padding: 16px;
      border-bottom: 0.5px solid #9BE9BA;
      border-top: 0.5px solid #9BE9BA;

      @media screen and (min-width: 768px) and (max-width: 990px) {
        padding: 16px 0;
      }

      ul {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        width: 100%;

        @media screen and (min-width: 640px) {
          display: flex;
          justify-content: space-between;
        }

        li {
          a {
            color: #9BE9BA;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

    .social {
      padding: 16px;
      display: flex;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      justify-content: space-around;

      span {
        font-size: 1.4rem;
        color: white;
      }
    }

    .legals {
      width: 100%;
      max-width: 650px;
      margin: 0 auto;
      margin-bottom: 16px;

      ul {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 640px) {
          display: block;
          text-align: center;
        }

        li {
          margin-bottom: 8px;

          a {
            color: white;
            font-size: 14px;
          }
        }
      }
    }

    .copy {
      p {
        color: white;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

        @media screen and (max-width: 640px) {
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
  }
  .contact {
    .cont-link {
      margin-bottom: 8px;
      a {
        color: $white;
      }
    }
  }
}
