@import '../../../../assets/styles/variables';

#textPhoto {
    max-width: 960px;
    margin: 64px auto;
    .title {
        h3 {
            margin-bottom: 24px;
        }
        p {
            color: #333333;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
            a {
                color: $primary-one;
                text-decoration: underline;
            }
        }
    }
    .order-m {
        @media screen and (max-width:640px) {
            order: 12;
        }
    }
}