<div id="textPhoto">
  <div class="container">
    <!-- texto foto -->
    <div class="row mb-5 align-items-center">
      <div class="col-12 col-md-7">
        <div class="title"> 
          <h3>Enriquecer la vida con integridad</h3>
          <p>En Seguros Bolívar este propósito se hace latente en la medida que Enriquecemos la Vida con Integridad porque protegemos y restablecemos la vida cotidiana de las familias y empresas colombianas generando tranquilidad.</p>
          <p>La esencia de nuestra cultura tiene como centro el ser humano, y a partir, de este eje se ponen en práctica los principios y valores, la misión y el propósito superior</p>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="photo">
          <img src="../../../../assets/img/photo.png" alt="Valores">
        </div>
      </div>
    </div>
    <!-- foto texto -->
    <div class="row mb-5 align-items-center">
      <div class="col-12 col-md-5 order-m">
        <div class="photo">
          <img src="../../../../assets/img/photo-2.png" alt="Valores">
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="title"> 
          <h3>Principios y valores</h3>
          <p>Desde su fundación <a href="#">Seguros Bolívar</a> se ha caracterizado por difundir una filosofía basada en el valor y reconocimiento del ser humano, para contribuir al crecimiento y desarrollo económico, social y ambiental de la sociedad. Por eso, le invitamos a conocer en detalle cada uno de nuestros principios y valores, que hacen de nuestra compañía una entidad sólida y única que transciende en el tiempo.</p>
        </div>
      </div>
    </div>
  </div>
</div>