<div id="app">
  <div class="container">
    <div class="row cont-app">
      <div class="col-12 col-md-6 order-img">
        <div class="img-app">
          <img src="../../assets/img/phone.png" alt="phone">
        </div>
        <div class="download mt-4 d-block d-md-none">
          <p>Descárguela en:</p>
          <a class="mr-4" href="#"><img src="../../assets/img/play-store.png" alt="play-store"></a>
          <a href="#"><img src="../../assets/img/app-store.png" alt="app-store"></a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="txt-app">
          <h3>El app para su vehículo</h3>
          <p>Ponemos a su servicio el App de Seguros Bolívar y con solo oprimir un botón lo estaremos acompañando.</p>
          <a href="#">Conozca los beneficios ></a>
        </div>
        <div class="download d-none d-md-block">
          <p>Descárguela en:</p>
          <a class="mr-4" href="#"><img src="../../assets/img/play-store.png" alt="play-store"></a>
          <a href="#"><img src="../../assets/img/app-store.png" alt="app-store"></a>
        </div>
      </div>
    </div>
  </div>
</div>