@import '../../../../assets/styles/variables';

#app {
    position: relative;
    background-image: url('../../../../assets/img/bg-app.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 525px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 640px) {
      padding: 36px 16px;
    }
    &::before {
      content: '';
      background: linear-gradient(to right, rgba(232,250,246,1) 0%, rgba(246,252,252,1) 100%);
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }
    .cont-app {
      align-items: center;
      .order-img {
        @media screen and (max-width: 640px) {
          order: 13;
        }
      }
      .img-app {
        text-align: center;
        img {
          @media screen and (max-width: 640px) {
            max-height: 280px;
          }
        }
      }
      .txt-app {
        margin-bottom: 36px;
        h3 {
          color: $text-05;
          font-size: 35px;
          font-weight: bold;
        }
        p {
          color: $text-05;
          font-size: 20px;
          margin-bottom: 20px;
        }
        a {
          color: $primary-one;
          font-size: 18px;
          font-weight: bold;
        }
        @media screen and (max-width: 640px) {
          margin-bottom: 24px;
          h3 {
            font-size: 22px;
          }
          p, a {
            font-size: 16px;
          }
        }
      }
      .download {
        margin-bottom: 16px;
        @media screen and (max-width: 640px) {
          text-align: center;
        }
        p {
          color: $text-05;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }