<div id="banner">
  <div class="lead-banner">
    <div class="text-lead">
      <h1>SEGURO TODO RIESGO PARA VEHÍCULOS</h1>
      <h2>Obtenga una cotización de acuerdo a sus necesidades</h2>
    </div>
  </div>
  <div class="img-banner">
    <picture>
      <source media="(min-width: 1025px)" srcset="../../../../assets/img/bg-todo-riesgo.jpg"> <!-- desktop -->
      <source media="(min-width: 640px)" srcset="../../assets/img/bg-todo-riesgo-tablet.jpg"> <!-- tablet -->
      <img src="../../assets/img/bg-todo-riesgo-mobile.jpg" alt="Seguros Bolívar"> <!-- mobile -->
    </picture>
  </div>
  <div class="quoting">
    <app-quoting-product></app-quoting-product>
  </div>
</div> <!-- cierre banner -->
