@import '../../../../assets/styles/variables';

#banner {
  position: relative;
  //padding-top: 90px;
  background-color: #333;
  padding-bottom: 48px;
  @media screen and (max-width: 640px) {
    padding-bottom: 16px;
  }

  &:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 330px;

    @media screen and (max-width: 640px) {
      max-height: 345px;
    }
  }

  .img-banner {
    @media screen and (min-width: 640px) {
      max-height: 330px;
      overflow: hidden;
    }
    @media screen and (min-width: 1200px) {
      overflow: hidden;
    }

    picture {
      max-height: 475px;

      img {
        width: 100%;
      }
    }
  }
}

.lead-banner {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 640px) and (max-width: 990px) {
    max-width: 720px;
  }

  @media screen and (max-width: 640px) {
    display: flex;
    justify-content: center;
  }

  .text-lead {
    position: absolute;
    z-index: 3;
    top: 60px;
    padding: 0 15px;
    text-align: center;

    @media screen and (min-width: 640px) and (max-width: 990px) {
      top: 60px;
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      width: 100%;
      max-width: 320px;
    }

    @media screen and (min-width: 375px) and (max-width: 540px) {
      top: 50px;
    }

    @media screen and (max-width: 375px) {
      top: 30px;
    }

    h1 {
      color: $white;
      font-size: 36px;
      font-weight: bold;
      filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

      @media screen and (min-width: 375px) and (max-width: 540px) {
        font-size: 26px;
      }

      @media screen and (max-width: 375px) {
        font-size: 22px;
      }
    }

    h2 {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.8));

      @media screen and (max-width: 640px) {
        font-size: 14px;
      }
    }
  }
}

.quoting {
  position: relative;
  margin-top: -160px;
  width: 100%;
  z-index: 2;
  @media screen and (max-width: 768px) {
    margin-top: -90px;
  }
}
