@import '../../../../assets/styles/variables';

#faq {
    background-image: url("../../../../assets/img/bg-faq.png");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 48px;
    position: relative;
    top: -100px;
    padding-top: 130px;
    @media screen and (max-width: 640px) {
      padding: 130px 0 36px 0;
    }
    &::before {
      content: '';
      background: linear-gradient(270.27deg, rgba(251, 249, 245, 0) 15%, rgba(244, 242, 238, 0.8) 50%, #F4F2EE 100%);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 640px) {
        background: linear-gradient(270.27deg, rgba(251, 249, 245, 0) 0%, rgba(244, 242, 238, 0.8) 0%, #F4F2EE 0%);
      }
    }

}
