<div id="faq">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="title">
          <h3>¿Tiene alguna duda?</h3>
          <p class="mb-3">Resolvemos sus inquietudes al instante.</p>
        </div>
        <!-- colapsable 1 -->
        <div class="colap-item"> 
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false"
              aria-controls="collapse1">
              <span class="icon-arrow-down"></span>
              ¿En qué consiste la póliza hogar para disfrutar?
            </a>
          </p>
          <div class="collapse" id="collapse1">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 2 -->
        <div class="colap-item">
          <p>
            <a class="link-faq" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="true"
              aria-controls="collapse2">
              <span class="icon-arrow-down"></span>
              ¿Qué es FASECOLDA?
            </a>
          </p>
          <div class="collapse show" id="collapse2">
            <div class="txt-faq">
              <p>Es la Federación de Aseguradores Colombianos, gremio que tiene a su cargo la promoción del seguro y la
                representación y defensa del sector asegurador en el país.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 3 -->
        <div class="colap-item">
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false"
              aria-controls="collapse3">
              <span class="icon-arrow-down"></span>
              ¿Qué es una primera pérdida absoluta?
            </a>
          </p>
          <div class="collapse" id="collapse3">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 4 -->
        <div class="colap-item">
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false"
              aria-controls="collapse4">
              <span class="icon-arrow-down"></span>
              ¿En qué casos, mi póliza me cubre el conductor elegido?
            </a>
          </p>
          <div class="collapse" id="collapse4">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 5 -->
        <div class="colap-item">
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false"
              aria-controls="collapse5">
              <span class="icon-arrow-down"></span>
              ¿Qué es una primera perdida relativa?
            </a>
          </p>
          <div class="collapse" id="collapse5">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <!-- colapsable 6 -->
        <div class="colap-item">
          <p>
            <a class="link-faq collapsed" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false"
              aria-controls="collapse6">
              <span class="icon-arrow-down"></span>
              ¿Qué es una revocación unilateral?
            </a>
          </p>
          <div class="collapse" id="collapse6">
            <div class="txt-faq">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
        <a class="btn btn-primary-outline mt-3" href="#">CONSULTE TODAS LAS PREGUNTAS</a>
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
  </div>
</div>