@import '../../../../assets/styles/variables';

#emergency {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) and (max-width: 990px) {
      flex-wrap: wrap;
    }
    h2 {
      color: $secondary-one;
      font-size: 29px;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
    button {
      min-width: 170px;
      @media screen and (max-width: 640px) {
        min-width: 170px;
        max-width: 210px;
        width: 100%;
      }
    }
    p {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      a {
        color: $white;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: $secondary-one;
        }
      }
    }
    h2, button, p {
      margin: 0 8px;
      @media screen and (max-width: 640px) {
        margin: 8px auto;
        width: 100%;
        text-align: center;
      }
    }
  }