<div id="emergency">
    <h2>¿Tiene una emergencia?</h2>
    <button class="btn btn-pill btn-secondary" type="submit">LLÁMENOS AHORA</button>
    <p>Si lo prefiere, <a (click)="openDialog()">SOLICITE UNA LLAMADA</a></p>
</div>