<div id="cards">
  <div class="container">
    <div class="row">
      <!-- cards estilo producto -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
            <img src="../../../../assets/img/cards/card-1.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>Mis finanzas en casa</h5>
            <p>Es el programa que ofrece información sobre educación financiera en línea para tu presupuesto, ahorro y crédito.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
              <img src="../../../../assets/img/cards/card-2.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>Seguropolis</h5>
            <p>Seguropolis es la ciudad de la diversión y la seguridad desarrollada como parte del programa de educación financiera para Niños.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
              <img src="../../../../assets/img/cards/card-3.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>Viva seguro - FASECOLDA</h5>
            <p>Programa de educación financiera del sector asegurador colombiano, que busca mejorar habilidades frente al manejo de seguros.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
              <img src="../../../../assets/img/cards/card-4.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>Consejos para ahorrar</h5>
            <p>Le brindamos 10 consejos para que deje de preocuparse por las deudas, mejore sus finanzas y alcance sus objetivos económicos.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
              <img src="../../../../assets/img/cards/card-5.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>¿Qué es un seguro?</h5>
            <p>¿Quiere conocer cómo funciona su seguro? Aquí le informamos en detalle las características primordiales del seguro.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
              <img src="../../../../assets/img/cards/card-6.png" alt="Cards">
          </div>
          <div class="body-card">
            <h5>Educación financiera</h5>
            <p>Conozca el programa voluntario de educación financiera en que participan 64 entidades; su objetivo es educar a inversionistas.</p>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">INGRESAR AHORA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
