<div class="header-white">
  <app-header></app-header>
</div>
 
<app-breadcrumb></app-breadcrumb>

<div class="services" id="others-services">
  <div class="container">
    <div class="row">
      <h1>Seguros para su empresa</h1>
      <div class="col-lg-4 col-md-12 menu-services">
        <div class="row menu-services-vertical">
          <ul>
            <li><a href="#"><span class="icon-camion"></span> Transportes </a></li>
            <li><a href="#"><span class="icon-empresa"></span> Multirriesgos </a></li>
            <li><a href="#"><span class="icon-edificio"></span> Co-Propiedades </a></li>
            <li><a href="#"><span class="icon-fuego"></span> Riesgos específicos </a></li>
            <li><a href="#"><span class="icon-casco"></span> Ingeniería </a></li>
            <li><a href="#"><span class="icon-check"></span> Seguros de cumplimiento </a></li>
            <li><a href="#"><span class="icon-escudo-dinero"></span> Responsabilidad civil </a></li>
            <li><a href="#"><span class="icon-tractor"></span> Vehículos pesados </a></li>
            <li><a href="#"><span class="icon-bote"></span> Embarcaciones </a></li>
            <li><a href="#"><span class="icon-obrero"></span> Riesgos laborales </a></li>
            <li><a href="#"><span class="icon-corazon"></span> Vida </a></li>
            <li><a href="#"><span class="icon-cruz"></span> Salud </a></li>
            <li><a href="#"><span class="icon-casa"></span> Hogar </a></li>
            <li><a href="#"><span class="icon-hotel"></span> Hoteles </a></li>
            <li><a href="#"><span class="icon-virrete"></span> Estudiantes </a></li>
            <li><a href="#"><span class="icon-ejecutivo"></span> Educadores </a></li>
            <!-- <li><a scroll-to="padresFamilia"><span class="icon-personas"></span>Padres de familia </a></li> -->

          </ul>
        </div>
      </div>
      <div class="col-lg-8 service">
        <div class="row">
          <div class="col-12 item-services">

            <h2><span class="icon-camion"></span> Transportes</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="felipe.html">
                  <img src="../../../assets/img/img-otros/seguro-valores.jpg" alt="">
                  <h3 class="title-card">Seguro de Valores</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/seguro-mercancias.jpg" alt="">
                  <h3 class="title-card">Seguro de Mercancías</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-empresa"></span>Multirriesgos</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/multirriesgo-empresarial.jpg" alt="">
                  <h3 class="title-card">Multirriesgo empresarial</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/perseo.jpg" alt="">
                  <h3 class="title-card">PERSEO</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>ALL RISK</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Tranquilidad Pymes</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Multirriesgo Expositor</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-edificio"></span>Co-Propiedades</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/cuotas-de-administracion-al-dia.jpg" alt="">
                  <h3 class="title-card">Seguro Cuotas de Administración al día</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/copropiedades-al-dia.jpg" alt="">
                  <h3 class="title-card">Seguro Copropiedades al día</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-fuego"></span>Riesgos específicos</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/incendio.jpg" alt="">
                  <h3 class="title-card">Incendio</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/proteccion-cultivos-cafe.jpg" alt="">
                  <h3 class="title-card">Protección Cultivos de Café</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Manejo Global Comercial</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Manejo Individual</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Sustracción</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-casco"></span> Ingeniería</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/todo-riesgo-constructor.jpg" alt="">
                  <h3 class="title-card">Todo riesgo Constructor</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/maquinaria-equipo-contratistas.jpg" alt="">
                  <h3 class="title-card">Maquinaria y equipo de contratistas</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Equipo electrónico</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Rotura de maquinaria</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Todo riesgo montaje de maquinaria</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-check"></span> Seguros de cumplimiento</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/favor-entidades-estatales.jpg" alt="">
                  <h3 class="title-card">A favor de entidades estatales</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/contratos-estatales-ani.jpg" alt="">
                  <h3 class="title-card">Para contratos estatales ANI</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento empresas industriales y comerciales del Estado</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento a favor de entidades estatales con régimen privado de contratación</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>A favor de Ecopetrol</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>A favor de particulares</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Matriz para grandes beneficiarios</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento de cauciones judiciales</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento de disposiciones legales</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-escudo-dinero"></span>Responsabilidad civil</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/responsabilidad-civil-extracontactual.jpg" alt="">
                  <h3 class="title-card">Responsabilidad Civil Extracontractual</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/medicos-odontologos.jpg" alt="">
                  <h3 class="title-card">Médicos y Odontólogos</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Transporte mercancías peligrosas</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Industria de hidrocarburos</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Matriz para grandes beneficiarios</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento de cauciones judiciales</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Cumplimiento de disposiciones legales</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-tractor"></span>Vehículos pesados</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/vehiculos-empresariales.jpg" alt="">
                  <h3 class="title-card">Seguros para vehículos empresariales</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-bote"></span>Embarcaciones</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/navegacion-casco.jpg" alt="">
                  <h3 class="title-card">Navegación y casco</h3>
                </a>
              </div>

            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-obrero"></span>Riesgos laborales</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/arl.jpg" alt="">
                  <h3 class="title-card">ARL</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-corazon"></span>Vida</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/vivir-disfrutar.jpg" alt="">
                  <h3 class="title-card">Vivir y Disfrutar</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/plan-creciente.jpg" alt="">
                  <h3 class="title-card">Plan Creciente</h3>
                </a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Vida grupo</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Accidentes personales</h4></a>
              </div>
              <div class="col-6 card-item text-only">
                <a href=""><h4>Últimos gastos</h4></a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-cruz"></span> Salud</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/medica-familiar-empresarial.jpg" alt="">
                  <h3 class="title-card">Médica familiar empresarial</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/swiss-life.jpg" alt="">
                  <h3 class="title-card">Swiss Life</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2><span class="icon-casa"></span> Hogar</h2>
            <div class="row">
              <div class="col-6 card-item">
                <img src="../../../assets/img/img-otros/hogar-para-disfrutar-colectiva.jpg" alt="">
                <h3 class="title-card">Hogar para disfrutar colectiva</h3>
              </div>

            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-hotel"></span> Hoteles</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/seguro-hotelero.jpg" alt="">
                  <h3 class="title-card">Seguro hotelero</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/seguro-valores.jpg" alt="">
                  <h3 class="title-card">Seguro de Valores</h3>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 item-services">
            <h2> <span class="icon-virrete"></span> Estudiantes</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/clase-u.jpg" alt="">
                  <h3 class="title-card">Clase U</h3>
                </a>
              </div>
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/clase-feliz.jpg" alt="">
                  <h3 class="title-card">Clase Feliz</h3>
                </a>
              </div>
            </div>
          </div>


          <div class="col-12 item-services">
            <h2> <span class="icon-ejecutivo"></span> Educadores</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/educadores-plus.jpg" alt="">
                  <h3 class="title-card">Educadores Plus</h3>
                </a>
              </div>

            </div>
          </div>

          <div class="col-12 item-services" id="padresFamilia">
            <h2> <span class="icon-personas"></span>Padres de familia</h2>
            <div class="row">
              <div class="col-6 card-item">
                <a href="">
                  <img src="../../../assets/img/img-otros/plan-tutor.jpg" alt="">
                  <h3 class="title-card">Plan Tutor</h3> 
                </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>