@import "../../../assets/styles/variables";

#banner-others {
  width: 100%;
  position: relative;
  float: left;
  top: 90px;
  z-index: 1;
  #navigation-detail {
    background: $ui-09;
    padding: 8px 0px;
    a {
      font-size: 14px;
      font-family: $roboto-condensed;
      color: $primary-one;
      span {
        color: $text-03;
      }
    }
  }
}
.services {
  h1 {
    font-family: $roboto-condensed;
    color: $primary-one;
    font-size: 36px;
    width: 100%;
    text-align: center;
    padding: 36px 0;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    h1 {
        padding: 24px 0;
        margin: 0;
        font-size: 22px;
    }
    .service{
      text-align: center;
      margin-top: 16px;
      .col-12.item-services{
        text-align: center;
      }
    }
  }
  .menu-services {
    @media screen and (max-width: 768px) {
      max-width: 100%;
      ul{
        width: auto;
        height: 50px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        li{
          display: inline-block;
        }
      }
    }
    @media screen and (max-width:640px) {
        box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.25);
    }
    max-width: 300px;
    ul {
      li {
        margin: 10px;
        a {
          font-size: 16px;
          color: $text-03;
          display: inline;
          position: relative;
          &:before {
            width: 0;
            height: 2px;
            background: $primary-one;
            content: "";
            position: absolute;
            bottom: -2px;
            transition: 0.3s;
          }
          &:hover:before {
            text-decoration: none;
            width: 100%;
          }
          &:hover {
            text-decoration: none;
            color: $primary-one;
          }
          span {
            font-size: 22px;
          }
        }
      }
    }
    .menu-services-vertical {
      position: sticky;
      top: 110px;
    }
  }
  .service {
    .col-12.item-services {
      margin-bottom: 86px;
      @media screen and (max-width:640px) {
        margin-bottom: 0;
      }
      h2 {
        font-size: 26px;
        font-family: $roboto-condensed;
        color: $text-05;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        @media screen and (max-width:640px) {
            font-size: 22px;
        }
        span {
          font-size: 30px;
          margin-right: 8px;
          color: $primary-one;
        }
      }
    }
  }
  .text-only {
    h4 {
      font-size: 18px;
    }
  }
}
