@import '../../../../assets/styles/variables';

#services {
  margin: 64px auto;
  max-width: 960px;
  @media screen and (max-width: 640px) {
    margin: 36px auto;
  }
  .servicios {
      width: 100%;
      max-width: 220px;
      margin: 0 auto;
      text-align: center;
      background-color: #FAFAFA;
      padding: 16px;
      transition: ease .3s;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
      &:hover {
        background-color: $white;
        box-shadow: 2px 4px 15px 0 rgba(0,0,0,0.2);
      }
      @media screen and (max-width: 640px) {
        display: flex;
        max-width: 100%;
        max-height: 100px;
        margin-bottom: 16px;
        text-align: left;
        align-items: center;
        padding: 16px 8px;
      }
      .txt {
        p {
          font-size: 14px;
          a {
            color: $primary-one;
            text-decoration: underline;
          }
        }
      }
      .icon-arrow-down {
        transform: rotate(270deg);
        font-size: 1.5rem;
        color: $primary-one;
        margin-left: 8px;
      }
    img {
      width: 100%;
      max-width: 70px;
      margin-bottom: 8px;
      @media screen and (max-width: 640px) {
        margin-bottom: 0;
        margin-right: 15px;
        max-width: 50px;
      }
    }
    h4 {
      color: $text-05;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      @media screen and (max-width: 640px) {
        font-size: 18px;
      }
    }
     p {
      @media screen and (max-width: 640px) {
        font-size: 14px;
       }
     }
  }
}
