<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="servicios" id="pagos">
          <img src="../../assets/img/pictogramas/pagos.svg" alt="Pagos">
          <div class="txt">
            <h4>Pagos</h4>
            <p><a href="#">Pague sus productos</a> y consulte el historial de sus transacciones</p>
          </div>
          <span class="icon-arrow-down d-block d-md-none"></span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="servicios" id="indemnizaciones">
          <img src="../../assets/img/pictogramas/indemnizaciones.svg" alt="Indemnizaciones">
          <div class="txt">
            <h4>Indemnizaciones</h4>
            <p>Si sufrió un evento y cuenta con un seguro, <a href="#">realice el reporte</a>.</p>
          </div>
          <span class="icon-arrow-down d-block d-md-none"></span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="servicios" id="soat">
          <img src="../../assets/img/pictogramas/soat-digital.svg" alt="SOAT Digital">
          <div class="txt">
            <h4>SOAT Digital</h4>
            <p><a href="#">Consulte y descargue su SOAT</a> digital en cuestión de minutos</p>
          </div>
          <span class="icon-arrow-down d-block d-md-none"></span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="servicios" id="dirMedicos">
          <img src="../../assets/img/pictogramas/directorio-medico.svg" alt="Directorio Médico">
          <div class="txt">
            <h4>Directorio Médico</h4>
            <p>Consulte la <a href="#">red médica</a> que tenemos a su disposición</p>
          </div>
          <span class="icon-arrow-down d-block d-md-none"></span>
        </div>
      </div>
    </div>
  </div>
</div>
