<div id="quote">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h3>Gobierno corporativo</h3>
        </div>
      </div>
      <div class="col-12">
        <blockquote class="blockquote">
          <p class="txt-quote"><span>“</span>Una decisión para crear valor y generar confianza a los grupos de interés<span>”</span></p>
          <footer class="blockquote-footer"><cite title="Source Title">José Alejandro Cortés Osorio</cite></footer>
        </blockquote>
      </div>
      <div class="col-12">
        <p class="mb-4">Para el Grupo Bolívar, el Gobierno Corporativo se define como el conjunto de principios, políticas y prácticas de dirección empresarial que permiten que sean establecidas estructuras de dirección, administración y de supervisión eficaces y transparentes con el fin de crear valor y generar confianza a sus Grupos de Interés.</p>
        <ul class="list-quote">
          <li>
            <p>El Gobierno Corporativo parte de la CONVICCIÓN, se sitúa más allá del cumplimiento de normas.</p>
          </li>
          <li>
            <p>Hace parte de nuestra cultura organizacional y guía el actuar de cada uno de los integrantes del Grupo.</p>
          </li>
          <li>
            <p>Hace parte de nuestra cultura organizacional y guía el actuar de cada uno de los integrantes del Grupo.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
