@import '../../../../assets/styles/variables';

#quote {
  max-width: 768px;
  margin: 0 auto;
  .blockquote {
    background-color: #F6F9F7;
    border-bottom: 2px solid $primary-one;
    padding: 24px;
    margin: 0 auto;
    max-width: 560px;
    margin-bottom: 24px;
    @media screen and (max-width:640px) {
      max-width: 100%;
      margin-left: auto;
    }
    .txt-quote {
      font-family: $noto-serif;
      color: $gray-base;
      font-size: 24px;
      font-style: italic;
      line-height: 28px;
      margin-bottom: 16px;
      @media screen and (max-width:640px) {
        margin-left: auto;
        font-size: 20px;
      }
      span {
        font-size: 1.8rem;
      }
    }
    .blockquote-footer {
      text-align: right;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }
  }
  .list-quote {
    padding-left: 48px;
    list-style: disc;
    font-size: 1.6rem;
    color: $primary-one;
    li {
      p {
        line-height: 24px;
        font-size: 16px;
        color: $text-02;
      }
    }
  }
}
