@import '../../../../assets/styles/variables';

#documents {
    margin-bottom: 48px;
    .download-pdf {
        display: block;
        text-align: center;
        margin-bottom: 36px;
        @media screen and (max-width:640px) {
            display: flex;
            padding: 16px;
            border: 1px solid #ccc;
            margin-bottom: 16px;
            align-items: center;
        }
        &:hover {
            p {
                color: $primary-one;
            }
        }
        .icon-pdf {
            display: block;
            width: 52px;
            min-width: 52px;
            height: 55px;
            background-image: url('../../../../assets/img/pictogramas/pdf.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            margin-bottom: 8px;
            @media screen and (max-width:640px) {
                margin: 0;
                margin-right: 16px;
            }
        }
        p {
            color: #434343;
            font-size: 18px;
            text-align: center;
            line-height: 1.3;
            max-width: 180px;
            margin: 0 auto;
            @media screen and (max-width:640px) {
                text-align: left;
                max-width: 100%;
            }
        }
    }
}
