<div id="documents">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h3>Documentos del sistema de gobierno corporativo</h3>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Código de buen gobierno corporativo</b> (237 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Código de ética grupo Bolivar</b> (68 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Manual conflictos de interés</b> (167 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Reglamento junta directiva</b> (201 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Lineamientos generales sistema control interno</b> (132 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Reglamento comité auditoría</b> (76 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Manual conflictos de interés</b> (45 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Reglamento junta directiva</b> (184 Kb) </p>
        </a>
      </div>
      <!-- inicio estatutos sociales (grid 3 columnas) -->
      <div class="col-12 mt-4">
        <div class="title">
          <h3>Estatutos sociales</h3>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Estatus compañía Seguros Bolivar</b> (237 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Estatus Seguros Comerciales Bolívar</b> (279 Kb) </p>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a href="#" class="download-pdf">
          <span class="icon-pdf"></span>
          <p><b>Estatus Capitalizadora</b> (163 Kb) </p>
        </a>
      </div>
    </div>
  </div>
</div>