<div id="modalContact">
  <h2 mat-dialog-title>Ingrese los siguientes datos para contactarlo</h2>
  <mat-dialog-content>
      <div class="row">
          <div class="col-12">
            <h3 class="subtitle">Los campos con * son obligatorios</h3>
            <div class="form-group">
              <label for="name">Número de contacto *</label>
              <input type="text" class="form-control" id="name" placeholder="Ej: 3136782341">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>Tipo de emergencia *</label>
              <div class="button-group">
                <input id="checkCasa" name="should_be_same" class="customradio" type="radio" checked>
                <label for="checkCasa">
                  <i class="icon-casa"></i>
                  <p>En su casa</p>
                </label>
  
                <input id="checkCarro" name="should_be_same" class="customradio" type="radio">
                <label for="checkCarro">
                  <i class="icon-carro"></i>
                  <p>Con su carro</p>
                </label>
  
                <input id="checkSalud" name="should_be_same" class="customradio" type="radio">
                <label for="checkSalud">
                  <i class="icon-corazon"></i>
                  <p>De salud</p>
                </label>
  
                <input id="checkARL" name="should_be_same" class="customradio" type="radio">
                <label for="checkARL">
                  <i class="icon-obrero"></i>
                  <p>De la ARL</p>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <form>
              <div class="form-group">
                <label for="comment">¿Cuál es el motivo de la emergencia? </label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Descríbanos el motivo de su emergencia..."></textarea>
                <span class="text-right">100 caracteres</span>
              </div>
            </form>
          </div>
        </div>

  </mat-dialog-content>
  <mat-dialog-actions align="center" class="btns">
    <button (click)="openDialogConfirmation()" class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Enviar</button>
  </mat-dialog-actions>
</div>
