@import '../../../../assets/styles/variables';

#insurance {
  background-color: $primary-one-dark;
  padding: 64px 0;
  width: 100%;
  @media screen and (max-width: 640px) {
    padding: 32px 0;
  }
  h2 {
    color: $white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    @media screen and (max-width: 640px) {
      font-size: 22px;
    }
  }
  .tabs {
    background-color: transparent;
    .tab {
      a {
        color: rgba(255, 255, 255, 0.7);
        padding: 0;
        &.active {
          color: $secondary-one;
          font-weight: bold;
        }
      }
    }
    .indicator {
      background-color: $secondary-one;
    }
  }
  #conTabs {
    margin: 24px 0;
    width: 100%;
    @media screen and (max-width: 640px) {
      margin: 0;
    }
    .gallery {
      display: flex;
      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
      }
      img {
        width: 100%;
      }
      // inicio new
      .bloq-l {
        background-color: red;
        height: 100%;
        width: 50%;
        position: relative;
        @media screen and (max-width: 640px) {
          height: 50%;
        }
      }
      .bloq-r {
        background-color: blue;
        height: 100%;
        width: 50%;
        position: relative;
      }
      .bloq-l, .bloq-r {
        @media screen and (max-width: 640px) {
          width: 100%;
        }
      }
      .row-100 {
        background-color: orange;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 640px) {
          height: auto;
          overflow: hidden;
        }
      }
      .row-50 {
        background-color: purple;
        width: 100%;
        height: 50%;
        @media screen and (max-width: 640px) {
          height: auto;
          overflow: hidden;
          img {
            width: auto;
            max-width: fit-content;
          }
        }
      }
      .row-50.align-items {
        @media screen and (max-width: 640px) {
          display: flex;
          justify-content: flex-end;
        }
      }
      .filter-100 {
          background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
          height: 100%;
          width: 100%;
          position: absolute;
      }
      .filter-50-r {
          background: rgba(0,0,0,.5);
          height: 50%;
          width: 50%;
          right: 0;
          position: absolute;
      }
      .filter-50-l {
          background: rgba(0,0,0,.5);
          height: 50%;
          width: 50%;
          left: 0;
          position: absolute;
      }
      .filter-50-r, .filter-50-l {
        @media screen and (max-width: 768px) {
          width: 100%;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        }
      }
      .filter-100, .filter-50-r, .filter-50-l {
        .text-lead {
          position: absolute;
          bottom: 0;
          padding: 24px;
          color: $white;
          @media screen and (max-width: 768px) {
            padding: 16px;
          }
          h3 {
            font-size: 28px;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: 22px;
            }
          }
          p {
            font-size: 20px;
            @media screen and (max-width: 1024px) {
              font-size: 16px;
            }
          }
          a {
            color: $complementary-three;
            font-size: 18px;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }
      }
      // cierre new
    }
  }
}
