<div id="insurance">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Conozca nuestros seguros</h2>
        </div>
        <div id="conTabs" class="col-12">
          <mat-tab-group>
            <h4>cesar</h4>
            <mat-tab label="DESTACADOS">
              <div id="test-swipe-1" class="animated fadeIn">
                <div class="gallery">
                  <div class="bloq-l">
                    <div class="row-100">
                      <div class="filter-100">
                        <div class="text-lead">
                          <h3>Seguro todo riesgo para vehículos</h3>
                          <p>Más que un seguro de vida, le brindamos todo el apoyo si su día a día se ve afectado por
                            una
                            eventualidad.</p>
                          <a href="#">Asegure su vehículo ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-1.jpg" alt="Seguros">
                    </div>
                  </div>
                  <div class="bloq-r">
                    <div class="row-50">
                      <div class="filter-50-r">
                        <div class="text-lead">
                          <h3>Seguro de vida</h3>
                          <p>Le brindamos todo el apoyo si su día a día se ve afectado por una eventualidad.</p>
                          <a href="#">Respalde a su familia ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-2.jpg" alt="Seguros">
                    </div>
                    <div class="row-50 align-items">
                      <div class="filter-50-l">
                        <div class="text-lead">
                          <h3>Seguro para bicicletas</h3>
                          <p>Protejase en caso de hurto o en caso de accidente mientras conduce su bicicleta.</p>
                          <a href="#">Ampare su bicicleta ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-3.jpg" alt="Seguros">
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="VEHÍCULOS">
              <div id="test-swipe-2" class="animated fadeIn">
                <div class="gallery">
                  <div class="bloq-l">
                    <div class="row-50">
                      <div class="filter-50-r">
                        <div class="text-lead">
                          <h3>Seguro de vida</h3>
                          <p>Le brindamos todo el apoyo si su día a día se ve afectado por una eventualidad.</p>
                          <a href="#">Respalde a su familia ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-2.jpg" alt="Seguros">
                    </div>
                    <div class="row-50 align-items">
                      <div class="filter-50-l">
                        <div class="text-lead">
                          <h3>Seguro para bicicletas</h3>
                          <p>Protejase en caso de hurto o en caso de accidente mientras conduce su bicicleta.</p>
                          <a href="#">Ampare su bicicleta ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-3.jpg" alt="Seguros">
                    </div>
                  </div>
                  <div class="bloq-r">
                    <div class="row-50">
                      <div class="filter-50-r">
                        <div class="text-lead">
                          <h3>Seguro de vida</h3>
                          <p>Le brindamos todo el apoyo si su día a día se ve afectado por una eventualidad.</p>
                          <a href="#">Respalde a su familia ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-2.jpg" alt="Seguros">
                    </div>
                    <div class="row-50 align-items">
                      <div class="filter-50-l">
                        <div class="text-lead">
                          <h3>Seguro para bicicletas</h3>
                          <p>Protejase en caso de hurto o en caso de accidente mientras conduce su bicicleta.</p>
                          <a href="#">Ampare su bicicleta ></a>
                        </div>
                      </div>
                      <img src="../../../../assets/img/seguros/seg-3.jpg" alt="Seguros">
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="HOGAR">
              Content 3
            </mat-tab>
            <mat-tab label="VIDA">
              Content 4
            </mat-tab>
            <mat-tab label="SALUD">
              Content 5
            </mat-tab>
            <mat-tab label="CAPITALIZACIÓN">
              Content 6
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
