@import '../../assets/styles/variables';

#benefits {
  margin: 64px auto;
  max-width: 890px;
  @media screen and (max-width: 640px) {
    margin: 24px auto;
  }
  h2 {
    text-align: center;
    color: $primary-one;
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    margin-bottom: 24px;
    @media screen and (max-width: 640px) {
        font-size: 22px;
        margin-bottom: 16px;
        
    }
  }
  .lead-benefits {
    margin-bottom: 2.5rem;
  }
  .benefits-insurance {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
      background-color: #FAFAFA;
      padding: 16px 8px;
      transition: ease .3s;
      &:hover {
        background-color: $white;
        box-shadow: 2px 4px 15px 0 rgba(0,0,0,0.2);
      }
      @media screen and (max-width: 640px) {
        display: flex;
        max-width: 100%;
        max-height: 100px;
        border: 1px solid #E9E9E9;
        margin-bottom: 16px;
        text-align: left;
        align-items: center;
        padding: 16px;
      }
    img {
      width: 100%;
      max-width: 70px;
      margin-bottom: 8px;
      @media screen and (max-width: 640px) {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
    h4 {
      color: $text-05;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      @media screen and (max-width: 640px) {
        font-size: 18px;
      }
    }
    p {
      a {
        color: $primary-one;
        text-decoration: underline;
      }
        @media screen and (max-width: 640px) {
            font-size: 14px;
        }
    }
  }
}


#protected {
  background-color: $complementary-one;
  padding: 64px 36px;
  @media screen and (max-width:640px) {
    padding: 36px 0;
  }
  .tabs-protected {
    .tabs {
      .tab {
        a {
          color: $text-03;
          font-weight: bold;
          &.active {
            color: $primary-one;
          }
        }
      }
    }
    .card {
      width: 100%;
    }
    h2 {
      color: $primary-one;
      font-size: 35px;
      font-weight: bold;
      line-height: 41px;
      lighting-color: 1.2;
      @media screen and (max-width: 640px) {
        font-size: 22px;
        }
    }
    p {
      color: #434343;
      font-size: 20px;
      //margin-bottom: 36px;

      @media screen and (max-width: 640px) {
        font-size: 16px;
      }
    }
  }
  .tabs-products {
    .title-navs {
      color: #333333;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      margin-bottom: 16px;
    }
    .nav-pills {
      a {
        color: #333333;
        line-height: 1.4;
      }
      .nav-link {
        border-radius: 0;
        padding: 0 16px;
        //margin-bottom: 16px;
      }
      .nav-link.active, .nav-pills .show>.nav-link {
        background-color: transparent;
        color: $primary-one;
        border-left: 3px solid $primary-one;
      }
    }
    .separador {
      width: 100%;
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
    .dropdown {
      background-color: #006d38;
      margin-bottom: 24px;
      padding: 8px 0;
      border-radius: 5px;
      text-align: center;
      .dropdown-toggle {
        color: white;
      }
      .dropdown-menu.show {
        top: 20px !important;
      }
    }
  }
  .cont-tab-protected {
    padding: 36px;
    background-color: white;
    @media screen and (max-width:640px) {
      padding: 36px 16px;
    }
    h4 {
      color: $text-03;
      font-size: 28px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      margin-bottom: 24px;
      @media screen and (max-width:640px) {
        font-size: 22px;
      }
    }
    .items {
      margin-bottom: 36px;
      p {
        color: $text-03;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
      }
    }
    .coberturas-adicionales {
      margin-bottom: 24px;
      h5 {
        color: $text-03;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin-bottom: 16px;
      }
      ul {
        padding-left: 36px;
        li {
          list-style: disc;
          color: $primary-one;
          font-size: 1.6rem;
          margin-bottom: 16px;
          p {
            color: $text-03;
            font-size: 16px;
            @media screen and (max-width:640px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .responsabilidades {
      background-color: #F5F5F5;
      padding: 24px;
      margin-bottom: 24px;
      .tit {
        color: $text-03;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
      }
      ul {
        padding-left: 16px;
        li {
          list-style: disc;
          color: $text-03;
          p {
            color: $text-03;
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .comparador {
    padding: 36px 16px;
    @media screen and (max-width:640px){
      padding: 36px 0;
    }
    .plan {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
      margin-bottom: 24px;
      .header-plan {
        background-color: #EEEEEE;
        padding: 16px;
        .title-header {
          color: #333333;
          font-size: 22px;
          font-weight: bold;
          line-height: 25px;
          text-align: center;
          margin-bottom: 0;
        }
      }
      .body-plan {
        .item-white {
          background-color: #FFF;
        }
        .item-color {
          background-color: #F6F9F7;
        }
        .item-white, .item-color {
          padding: 16px;
          .title-item {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
            text-align: center;
            display: block;
            margin-bottom: 8px;
          }
          p {
            color: #333333;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            margin-bottom: 8px;
            @media screen and (max-width:640px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .plan.active {
      .header-plan {
        background-color: $secondary-one;
      }
      .body-plan {
        .item-color {
          background-color: #FFFAE7;
        }
      }
    }
  }
  .info-complementaria {
    padding: 36px;
    @media screen and (max-width:640px){
      padding: 36px 0;
    }
    h4 {
      color: #333333;
      font-size: 28px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      margin-bottom: 16px;
      @media screen and (max-width:640px) {
        font-size: 22px;
      }
    }
    h5 {
      color: #333333;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }
    p {
      color: #333333;
      font-size: 16px;
      line-height: 24px;
    }
    .video {
      max-width: 560px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    .detalle {
      display: block;
      color: $primary-one;
      margin-bottom: 8px;
      padding-left: 16px;
    }
  }
}

.request-call {
  position: relative;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width:640px) {
    bottom: 0;
    margin: 0;
  }
}

#requestAssistaint {
  margin: 86px 0;
  @media screen and (max-width:640px) {
    margin: 36px 0;
  }
  .tit {
    margin-bottom: 36px;
    h2 {
      color: $primary-one;
      font-size: 35px;
      font-weight: bold;
      @media screen and (max-width:640px) {
        font-size: 22px;
      }
    }
    h4 {
      color: $text-05;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      @media screen and (max-width:640px) {
        font-size: 16px;
      }
    }
  }
  .item {
    text-align: center;
    padding: 0 8px;
    @media screen and (max-width: 768px) and (max-width: 990px) {
      margin-bottom: 24px;
    }
    @media screen and (max-width: 640px) {
      padding: 16px;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
      max-width: 90%;
      margin: 0px auto;
      margin-bottom: 16px;
    }
    h3 {
      color: $text-05;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
    }
    img {
      width: 100%;
      max-width: 70px;
      margin-bottom: 8px;
      @media screen and (max-width: 640px) {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}

#claim {
  background-color: $primary-one-dark;
  padding: 64px 36px;
  text-align: center;
  margin-bottom: 64px;
  @media screen and (max-width:640px) {
    padding: 36px 16px;
    margin-bottom: 36px;
  }
  h3 {
    color: $secondary-one;
    font-size: 35px;
    font-weight: bold;
    @media screen and (max-width:640px) {
        font-size: 22px;
    }
  }
  p {
    color: $white;
    font-size: 20px;
    margin-bottom: 16px;
    @media screen and (max-width:640px) {
        font-size: 16px;
    }
  }
}

#lead322 {
  padding: 86px 36px;
  text-align: center;
  @media screen and (max-width: 640px) {
    padding: 36px;
  }
  p {
    color: $text-05;
    font-size: 18px;
    line-height: 26px;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    b {
      color: $primary-one;
    }
  }
}

#pay {
  .lead-pay {
    background-color: #F6F9F7;
    padding: 36px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 990px) {
      flex-wrap: wrap;
    }
    p {
      color: $text-05;
      font-size: 18px;
      line-height: 30px;
      margin: 0 16px;
      display: flex;
      @media screen and (max-width: 990px) {
        margin: 16px;
      }
    }
    .icon-tarjeta {
      font-size: 2rem;
      color: $primary-one;
      margin-right: 8px;
    }
  }
}

#otherInsurance {
  margin-bottom: 64px;
  @media screen and (max-width:640px) {
    margin-bottom: 8px;
  }
  h3 {
    color: $primary-one;
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    margin-bottom: 36px;
    @media screen and (max-width:640px) {
        font-size: 22px;
    }
  }
}


.btn-cotizar {
  .btn-primary-outline {
    @media screen and (max-width:640px) {
      margin-bottom: 16px;
    }
  }
}