<div class="header-white">
  <app-header></app-header>
</div>

<app-breadcrumb></app-breadcrumb>

<div class="banner">
  <app-banner-products></app-banner-products>
</div>

<div id="benefits">
  <div class="container">
    <h2>Beneficios de este seguro</h2>
    <p class="lead-benefits">Viaje con tranquilidad, proteja a su familia y a su patrimonio. Ya que este seguro está pensado en acompañarlo antes, durante y después de cualquier eventualidad que ocurra con su carro y que pueda interrumpir su vida cotidiana o la de sus familiares.</p>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="benefits-insurance">
          <img src="../../../../assets/img/pictogramas/callcenter.svg" alt="Asesoría oportuna">
          <div class="txt">
            <h4>Asesoría oportuna</h4>
            <p>Acompañamiento las 24 horas del día, 365 días del año.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="benefits-insurance">
          <img src="../../../../assets/img/pictogramas/talleres.svg" alt="Red de talleres">
          <div class="txt">
            <h4>Red de talleres</h4>
            <p>Acompañamiento calificado con <a href="#">nuestra red de talleres</a> a nivel nacional.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="benefits-insurance">
          <img src="../../../../assets/img/pictogramas/celular.svg" alt="Aplicación móvil">
          <div class="txt">
            <h4>Directorios médicos</h4>
            <p>Acompañamiento en tiempo real a través de nuestra <a href="#">App Seguros Bolívar</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="protected">
  <div class="container">
    <div class="tabs-protected">
      <h2>Así lo protegemos</h2>
      <p class="mb-5">El seguro todo riesgo lo protege de momentos difíciles como choques, varadas, robos, entre otros.</p>
      <div class="tabs-products">
        <mat-tab-group>
          <!-- inicio tab 1 -->
          <mat-tab label="Essential Care">
            <div id="tab1">
              <div class="row">
                <div class="col-12 col-lg-3">
                  <h3 class="title-navs">Coberturas</h3>
                  <hr class="separador">
                  <!-- inicio nav 1 -->
                  <div class="nav flex-column nav-pills d-none d-lg-block" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">Tratamientos y cuidados hospitalarios</a>
                      <hr class="separador">
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Tratamiento ambulatorio</a>
                      <hr class="separador">
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false">Viajes de traslado</a>
                      <hr class="separador">
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Tratamiento dental</a>
                      <hr class="separador">
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-prevent" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Tratamiento preventivo</a>
                      <hr class="separador">
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-complement" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Información complementaria</a>
                  </div>
                  <!-- cierre nav 1 -->
                  <!-- inicio nav mobile 1 -->
                  <!-- <div class="dropdown d-block d-lg-none">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tratamientos y cuidados hospitalarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Tratamientos y cuidados hospitalarios</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Tratamiento ambulatorio</a>
                      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Viajes de traslado</a>
                      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tratamiento dental</a>
                      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-prevent" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tratamiento preventivo</a>
                      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-complement" role="tab" aria-controls="v-pills-settings" aria-selected="false">Información complementaria</a>
                    </div>
                  </div> -->
                  <div class="select-drop d-block d-lg-none">
                    <mat-form-field appearance="outline">
                      <mat-select value="1">
                        <mat-option value="1">Tratamientos y cuidados hospitalarios</mat-option>
                        <mat-option value="2">Tratamiento ambulatorio</mat-option>
                        <mat-option value="3">Viajes de traslado</mat-option>
                        <mat-option value="4">Tratamiento dental</mat-option>
                        <mat-option value="5">Tratamiento preventivo</mat-option>
                        <mat-option value="6">Información complementaria</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- cierre nav mobile 1 -->
                </div>
                <div class="col-12 col-lg-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <!-- inicio content nav 1 -->
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="cont-tab-protected">
                          <h4>Tratamientos y cuidados hospitalarios</h4>
                          <div class="row">
                            <div class="col-12 col-md-4 items">
                              <div class="img-pefil">
                                <img src="../../../../assets/img/amparo1.jpg" alt="Amparos básicos">
                              </div>
                              <p>Daño o hurto (Robo) total o de alguna parte de su carro.</p>
                            </div>
                            <div class="col-12 col-md-4 items">
                              <div class="img-pefil">
                                <img src="../../../../assets/img/amparo2.jpg" alt="Amparos básicos">
                              </div>
                              <p>Pequeños Accesorios (OP). Daños o hurto a Espejos, tapas de gasolina, boceles,
                                vidrios, llantas y emblemas.</p>
                            </div>
                            <div class="col-12 col-md-4 items">
                              <div class="img-pefil">
                                <img src="../../../../assets/img/amparo3.jpg" alt="Amparos básicos">
                              </div>
                              <p>Acompañamiento jurídico en procesos civiles o penales.</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="coberturas-adicionales">
                                <h5>Coberturas adicionales</h5>
                                <ul>
                                  <li>
                                    <p>La asistencia de nuestras unidades móviles, en donde expertos de nuestra red
                                      de asistencia
                                      irán hasta el lugar del choque para acompañarlo y darle ayuda especializada.
                                    </p>
                                  </li>
                                  <li>
                                    <p>De igual modo, le brindamos a nuestros clientes la asistencia de varios
                                      talleres
                                      autorizados a nivel nacional que le brindarán todo el apoyo en el proceso de
                                      reparación de
                                      su vehículo.</p>
                                  </li>
                                  <li>
                                    <p>Daños o hurto a Espejos, tapas de gasolina, boceles, vidrios, llantas y
                                      emblemas.</p>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="responsabilidades">
                                <p class="tit">La responsabilidad civil no cubre:</p>
                                <ul>
                                  <li>
                                    <p>Las muertes o lesiones corporales de los ocupantes del vehículo asegurado,
                                      sean o no
                                      pasajeros.</p>
                                  </li>
                                  <li>
                                    <p>Las muertes o lesiones corporales, en caso de que el vehículo sea empleado
                                      para prestar
                                      un servicio de transporte público.</p>
                                  </li>
                                  <li>
                                    <p>Las muertes o lesiones corporales de personas que se encuentren reparando o
                                      atendiendo el
                                      mantenimiento del carro.</p>
                                  </li>
                                  <li>
                                    <p>Las muertes o lesiones corporales del cónyuge, compañero(a) permanente del
                                      asegurado o
                                      sus parientes hasta el segundo grado de consanguinidad o parentesco civil.</p>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="btn-cotizar">
                                <!-- <a href="#" class="detalle">
                                  <span class="icon-documento"></span>
                                  Detalles del seguro
                                </a> -->
                                <a href="#" class="btn btn-primary-outline">Detalles del seguro</a>
                                <a href="#" class="btn btn-primary">Cotizar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- inicio content nav 2 -->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">...</div>
                    <!-- inicio content nav 3 -->
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">...</div>
                    <!-- inicio content nav 4 -->
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- inicio tab 2 -->
          <mat-tab label="Global Select Health plan">
            <div id="tab2" class="col-12">
              <div class="cont-tab-protected">
                <h4>Los amparos básicos cubren</h4>
                <div class="row">
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/amparo1.jpg" alt="Amparos básicos">
                    </div>
                    <p>Daño o hurto (Robo) total o de alguna parte de su carro.</p>
                  </div>
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/amparo2.jpg" alt="Amparos básicos">
                    </div>
                    <p>Pequeños Accesorios (OP). Daños o hurto a Espejos, tapas de gasolina, boceles, vidrios, llantas y emblemas.</p>
                  </div>
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/amparo3.jpg" alt="Amparos básicos">
                    </div>
                    <p>Acompañamiento jurídico en procesos civiles o penales.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="coberturas-adicionales">
                      <h5>Coberturas adicionales</h5>
                      <ul>
                        <li>
                          <p>La asistencia de nuestras unidades móviles, en donde expertos de nuestra red de asistencia
                            irán hasta el lugar del choque para acompañarlo y darle ayuda especializada.</p>
                        </li>
                        <li>
                          <p>De igual modo, le brindamos a nuestros clientes la asistencia de varios talleres
                            autorizados a nivel nacional que le brindarán todo el apoyo en el proceso de reparación de
                            su vehículo.</p>
                        </li>
                        <li>
                          <p>Daños o hurto a Espejos, tapas de gasolina, boceles, vidrios, llantas y emblemas.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="responsabilidades">
                      <p class="tit">La responsabilidad civil no cubre:</p>
                      <ul>
                        <li>
                          <p>Las muertes o lesiones corporales de los ocupantes del vehículo asegurado, sean o no
                            pasajeros.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales, en caso de que el vehículo sea empleado para prestar
                            un servicio de transporte público.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales de personas que se encuentren reparando o atendiendo el
                            mantenimiento del carro.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales del cónyuge, compañero(a) permanente del asegurado o
                            sus parientes hasta el segundo grado de consanguinidad o parentesco civil.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="btn-cotizar">
                      <a href="#" class="detalle">
                        <span class="icon-documento"></span>
                        Detalles del seguro
                      </a>
                      <a href="#" class="btn btn-primary">Cotizar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <!-- inicio tab 3 -->
          <mat-tab label="Global Premier Health plan">
            <div id="tab3" class="col-12">
              <div class="cont-tab-protected">
                <h4>La responsabilidad civil cubre</h4>
                <div class="row">
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/respon1.jpg" alt="Responsabilidad Civil">
                    </div>
                    <p>Solucione los daños que le ocasione a otra persona o sus bienes involucrados en algún
                      accidente.</p>
                  </div>
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/respon2.jpg" alt="Responsabilidad Civil">
                    </div>
                    <p>Daños que usted o su grupo familiar cause a otra persona o sus bienes, cuando conduzca un
                      vehículo
                      similar al amparado.</p>
                  </div>
                  <div class="col-12 col-md-4 items">
                    <div class="img-pefil">
                      <img src="../../../../assets/img/respon3.jpg" alt="Responsabilidad Civil">
                    </div>
                    <p>Acompañamiento jurídico en procesos civiles o penales.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="coberturas-adicionales">
                      <h5>Coberturas adicionales</h5>
                      <ul>
                        <li>
                          <p>En caso que la autoridad correspondiente ordene la inmovilización del vehículo amparado,
                            cubrimos los gastos de patios por un límite máximo de 15 días calendario hasta un SMDLV
                            por día.</p>
                        </li>
                        <li>
                          <p>Beneficios de movilidad para vehículos de servicio particular en caso de daños o hurto.
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="responsabilidades">
                      <p class="tit">La responsabilidad civil no cubre:</p>
                      <ul>
                        <li>
                          <p>Las muertes o lesiones corporales de los ocupantes del vehículo asegurado, sean o no
                            pasajeros.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales, en caso de que el vehículo sea empleado para prestar
                            un servicio de transporte público.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales de personas que se encuentren reparando o atendiendo el
                            mantenimiento del carro.</p>
                        </li>
                        <li>
                          <p>Las muertes o lesiones corporales del cónyuge, compañero(a) permanente del asegurado o
                            sus parientes hasta el segundo grado de consanguinidad o parentesco civil.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="btn-cotizar">
                      <a href="#" class="detalle">
                        <span class="icon-documento"></span>
                        Detalles del seguro
                      </a>
                      <a href="#" class="btn btn-primary">Cotizar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <!-- inicio tab 4 -->
          <mat-tab label="Global Élite Health plan">
            <div id="tab4" class="col-12">
              <div class="row comparador">
                <div class="col-12 col-lg-4">
                  <!-- plan uno -->
                  <div class="plan">
                    <div class="header-plan">
                      <h5 class="title-header">Plan clásico</h5>
                    </div>
                    <div class="body-plan">
                      <div class="item-white">
                        <span class="title-item">Robo o pérdida total</span>
                        <p>Hasta 90% de cobertura del valor comercial del vehículo </p>
                      </div>
                      <div class="item-color">
                        <span class="title-item">Daños a terceros</span>
                        <p>Hasta $730.000.000 de cobertura por daños a terceros</p>
                        <p>Acompañamiento en procesos civiles y legales</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <!-- plan dos -->
                  <div class="plan active">
                    <div class="header-plan">
                      <h5 class="title-header">Plan estándar</h5>
                    </div>
                    <div class="body-plan">
                      <div class="item-white">
                        <span class="title-item">Robo o pérdida total</span>
                        <p>Hasta 100% de cobertura del valor comercial del vehículo </p>
                        <p>15 días vehículo de reemplazo</p>
                      </div>
                      <div class="item-color">
                        <span class="title-item">Daños a terceros</span>
                        <p>Hasta $2.200.0000.000 de cobertura  por daños a terceros </p>
                        <p>Acompañamiento en procesos civiles y legales</p>
                      </div>
                      <div class="item-white">
                        <span class="title-item">Accidente leve</span>
                        <p>7 días de movilidad</p>
                      </div>
                      <div class="item-color">
                        <span class="title-item">Pequeños accesorios</span>
                        <p>Llaves hasta $1.100.000 (una vez)</p>
                        <p>Pequeños accesorios hasta $900.000 (una vez)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <!-- plan tres -->
                  <div class="plan">
                    <div class="header-plan">
                      <h5 class="title-header">Plan premium</h5>
                    </div>
                    <div class="body-plan">
                      <div class="item-white">
                        <span class="title-item">Robo o pérdida total</span>
                        <p>Hasta 100% de cobertura del valor comercial del vehículo </p>
                        <p>15 días vehículo de reemplazo</p>
                      </div>
                      <div class="item-color">
                        <span class="title-item">Daños a terceros</span>
                        <p>Hasta $3.100.0000.000 de cobertura por daños a terceros </p>
                        <p>Acompañamiento en procesos civiles y legales</p>
                        <p>15 días  o 15 SLMV en patios - parqueadero</p>
                        <p>Cobertura si va conduciendo una bicicleta</p>
                      </div>
                      <div class="item-white">
                        <span class="title-item">Accidente leve</span>
                        <p>7 días de movilidad</p>
                      </div>
                      <div class="item-color">
                        <span class="title-item">Pequeños accesorios</span>
                        <p>Llaves hasta $1.100.000 (una vez)</p>
                        <p>Pequeños accesorios hasta $900.000 (una vez)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="btn-cotizar">
                    <a href="#" class="detalle">
                      Todos los planes
                    </a>
                    <a href="#" class="btn btn-primary">Cotizar</a>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <!-- inicio tab 5 -->
          <mat-tab label="Global Ultímate Health plan">
            <div id="tab5" class="col-12">
              <div class="info-complementaria">
                <h4>Información a tener en cuenta</h4>
                <p class="mb-4">Aquí podrá encontrar información complementaria para que pueda conocer todos los detalles de este seguro.</p>
                <div class="row">
                  <div class="col-12">
                    <h5>¿Por qué un seguro?</h5>
                    <p class="mb-4">Conozca la importancia de asegurar su vehículo y a qué se expone en caso de no tenerlo.</p>
                    <div class="video">
                      <iframe width="100%" height="320" src="https://www.youtube.com/embed/TqEDAIaHfdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <h5 class="mb-3">Documentos relacionados</h5>
                    <a href="#" class="detalle">
                      <span class="icon-documento"></span>
                      Asegúrese de saber (273 Kb)
                    </a>
                    <a href="#" class="detalle">
                      <span class="icon-documento"></span>
                      Clausulado (279 Kb)
                    </a>
                    <a href="#" class="detalle">
                      <span class="icon-documento"></span>
                      Anexo (163 Kb)
                    </a>
                  </div>
                  <div class="col-12 col-md-6">
                    <h5 class="mb-3">Formularios de solicitud</h5>
                    <a href="#" class="detalle">
                      <span class="icon-documento"></span>
                      Asegúrese de saber (273 Kb)
                    </a>
                    <a href="#" class="detalle">
                      <span class="icon-documento"></span>
                      Clausulado (279 Kb)
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div id="requestAssistaint">
  <div class="container">
    <div class="tit">
      <h2>Disfrute los beneficios de estar asegurado</h2>
      <h4>Con todas nuestras opciones de vehículos usted cuenta con los siguientes beneficios:</h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 item">
        <img src="../../../../assets/img/pictogramas/hombre-corbata.svg" alt="Lo hacemos con usted">
        <h3>Lo hacemos con usted</h3>
        <p>Realice sus diligencias personales dentro del perímetro urbano acompañado de un conductor que se encargará de
          manejar su vehículo.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 item">
        <img src="../../../../assets/img/pictogramas/escudo-corazon.svg" alt="Regrese seguro a casa">
        <h3>Regrese seguro a casa</h3>
        <p>Si usted no se siente en condiciones de manejar su vehículo, un conductor confiable lo llevará a su destino,
          a cualquier hora del día.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 item">
        <img src="../../../../assets/img/pictogramas/caja.svg" alt="Lo llevamos por usted">
        <h3>Lo llevamos por usted</h3>
        <p>Haga envíos dentro del perímetro urbano con documentos, dispositivos electrónicos, una USB, o algún otro
          elemento de suma importancia. </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 item">
        <img src="../../../../assets/img/pictogramas/llave.svg" alt="Servicio de cerrajería">
        <h3>Servicio de cerrajería</h3>
        <p>Reciba ayuda inmediata en casos de emergencia por pérdida o extravío de las llaves de su vehículo.</p>
      </div>
      <div class="col-12 text-center mt-3">
        <a href="" class="btn btn-primary-outline">CONOZCA MÁS BENEFICIOS</a>
      </div>
    </div>
  </div>
</div>

<div class="request-call">
  <app-request-call></app-request-call>
</div>

<div id="lead322">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>También puede comprar este seguro comunicándose desde cualquier teléfono al <b>#322</b>, o solicitar el
          servicio que requiera, reportar un evento, realizar un trámite e incluso cancelar o anular su seguro.</p>
      </div>
    </div>
  </div>
</div>

<div id="pay">
    <div class="col-12 lead-pay">
          <p><span class="icon-tarjeta"></span> Mantenga sus pagos al día para garantizar la cobertura de su seguro</p>
          <a href="#" class="btn-primary-outline">Pagar en línea</a>
        </div>
  </div>

<div id="claim">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Presente una reclamación de su seguro</h3>
        <p>Solicite la cobertura en caso de robo o daños al vehículo e incluso a terceros.</p>
        <a href="#" class="btn-secondary">PRESENTAR RECLAMACIÓN</a>
      </div>
    </div>
  </div>
</div>

<div id="otherInsurance">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Otros seguros de su interés</h3>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
            <img src="../../../../assets/img/interes1.jpg" alt="Otros Seguros">
          </div>
          <div class="body-card">
            <h4>SOAT</h4>
            <ul>
              <li>
                <p>Respaldo económico en caso de sufrir un accidente de tránsito.</p>
              </li>
              <li>
                <p>Apoyo para o un peatón en la coordinación y envío de una ambulancia pública.</p>
              </li>
              <li>
                <p>Indemnización para los beneficiarios de quien fallezca durante el evento.</p>
              </li>
            </ul>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">ADQUIERA SU SOAT</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
            <img src="../../../../assets/img/interes2.jpg" alt="Otros Seguros">
          </div>
          <div class="body-card">
            <h4>SOAT</h4>
            <ul>
              <li>
                <p>Respaldo económico en caso de sufrir un accidente de tránsito.</p>
              </li>
              <li>
                <p>Apoyo para o un peatón en la coordinación y envío de una ambulancia pública.</p>
              </li>
              <li>
                <p>Indemnización para los beneficiarios de quien fallezca durante el evento.</p>
              </li>
            </ul>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">RESPALDE A SU FAMILIA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-others">
          <div class="photo">
            <img src="../../../../assets/img/interes3.jpg" alt="Otros Seguros">
          </div>
          <div class="body-card">
            <h4>SOAT</h4>
            <ul>
              <li>
                <p>Respaldo económico en caso de sufrir un accidente de tránsito.</p>
              </li>
              <li>
                <p>Apoyo para o un peatón en la coordinación y envío de una ambulancia pública.</p>
              </li>
              <li>
                <p>Indemnización para los beneficiarios de quien fallezca durante el evento.</p>
              </li>
            </ul>
            <div class="btn-others">
              <a href="#" class="btn-primary-outline">PROTEJA SU BIENESTAR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
