@import '../../../../assets/styles/variables';

#quotingProducts {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  background-color: #fff;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  @media screen and (max-width: 990px) {
    flex-wrap: wrap;
    text-align: center;
  }
  .col-lg-2 {
    @media screen and (min-width: 990px) {
        flex: 0 0 20%;
        max-width: 20%;
    }
  }
}
