<div class="container">
  <div id="quotingProducts">
    <div class="col-12 col-lg-2">
      <form>
        <mat-form-field>
          <input matInput placeholder="Placa del vehículo">
        </mat-form-field>
      </form>
    </div>
    <div class="col-12 col-lg-2">
      <form>
        <mat-form-field>
          <input matInput placeholder="Ciudad de movilización">
        </mat-form-field>
      </form>
    </div>
    <div class="col-12 col-lg-2">
      <form>
        <mat-form-field>
          <mat-label>Tipo de documento</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Cédula de ciudadania</mat-option>
            <mat-option value="option2">Pasaporte</mat-option>
            <mat-option value="option3">Cédula de extranjería</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-12 col-lg-2">
      <form>
        <mat-form-field>
          <input matInput placeholder="Número de documento">
        </mat-form-field>
      </form>
    </div>
    <div class="col-12 col-lg-2">
      <button class="btn btn-pill btn-primary mt-3">INICIAR PROCESO</button>
    </div>
  </div>
</div>