<div id="inBuilding">
  <div class="container">
    <h2>Encuentre todos los seguros para usted y su familia</h2>
    <div class="row-build">
      <div class="col-20">
        <ul>
          <h3>VEHÍCULOS</h3>
          <li>
            <a href="#">Vehículos Bolívar Particulares</a>
          </li>
          <li>
            <a href="#">SOAT</a>
          </li>
        </ul>
      </div>
      <div class="col-20">
        <ul>
          <h3>HOGAR</h3>
          <li>
            <a href="#">Hogar para disfrutar</a>
          </li>
          <li>
            <a href="#">Seguro de Arrendamiento</a>
          </li>
          <li>
            <a href="#">Amparo hogar</a>
          </li>
        </ul>
      </div>
      <div class="col-20">
        <ul>
          <h3>VIDA</h3>
          <li>
            <a href="#">Seguro de Vida</a>
          </li>
          <li>
            <a href="#">Renta Vitalicia</a>
          </li>
          <li>
            <a href="#">Protección de créditos</a>
          </li>
        </ul>
      </div>
      <div class="col-20">
        <ul>
          <h3>SALUD</h3>
          <li>
            <a href="#">Bienestar y Salud </a>
          </li>
          <li>
            <a href="#">Essential Care</a>
          </li>
          <li>
            <a href="#">Global Select Health plan</a>
          </li>
          <li>
            <a href="#">Global Premier Health plan</a>
          </li>
          <li>
            <a href="#">Global Elite Health plan</a>
          </li>
          <li>
            <a href="#">Global Ultimate Health plan</a>
          </li>
        </ul>
      </div>
      <div class="col-20">
        <ul>
          <h3>CAPITALIZACIÓN</h3>
          <li>
            <a href="#">Magnate Bolívar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>