@import '../../../../assets/styles/variables';

#inBuilding {
  margin: 64px 0;
  @media screen and (max-width: 640px) {
    margin: 36px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 36px;
    color: $text-05;
    font-size: 35px;
    font-weight: bold;
    @media screen and (max-width: 640px) {
      font-size: 22px;
    }
  }

  .row-build {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (max-width:640px) {
      padding: 0 16px;
    }

    .col-20 {
      width: 20%;

      @media screen and (max-width:640px) {
        width: 100%;
      }

      ul {
        margin-bottom: 8px;

        h3 {
          color: $primary-one;
          font-size: 16px;
          font-weight: bold;
          line-height: 19px;
          margin-bottom: 8px;
        }

        li {
          a {
            color: $text-03;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
