<div id="home"> <!-- el id define el comportamiento del header en las páginas home -->

  <div id="headerHome" class="header-transparent"> <!-- el id y la clase definen el comportamiento del header -->
    <app-header></app-header>
  </div>

  <div class="banner-hero">
    <app-banner-hero></app-banner-hero>
  </div>

  <div class="sevices">
    <app-services></app-services>
  </div>

  <div class="insurance">
    <app-insurance></app-insurance>
  </div>

  <div class="app">
    <app-bolivar-app></app-bolivar-app>
  </div>

  <div class="blog">
    <app-blog></app-blog>
  </div>

  <div class="request-call">
    <app-request-call></app-request-call>
  </div>

  <div class="faq">
    <app-faq></app-faq>
  </div>

  <div class="inbuilding">
    <app-inbuilding></app-inbuilding>
  </div>

  <div class="customer-service">
    <app-customer-service></app-customer-service>
  </div>

  <app-footer></app-footer>



</div> <!-- cierre home -->


