@import '../../../../assets/styles/variables';

.navmobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 30px;
  left: 0;
  background-color: rgba(17, 17, 17, 0.7);
  overflow-x: hidden;
  transition: 0.5s;

  #sideBar {
    max-width: 290px;
    background-color: $complementary-one;
    height: -webkit-fill-available;
    opacity: 0;
    transition: .2s;

    .head {
      position: relative;
      background-color: $white;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #eaeaea;

      img {
        max-width: 140px;
      }

      .closebtn {
        position: absolute;
        top: 10px;
        left: 12px;
        font-size: 2em;
        color: #666;
        font-weight: 100;
      }
    }

    .item-colap {
      border-bottom: 2px solid #eaeaea;

      .link-colap {
        color: $primary-one;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 4px 8px;

        .ico {
          margin-right: 8px;
          margin-bottom: 4px;
          font-size: 1.6rem;
        }

        .icon-arrow-down {
          font-size: 1.7rem;
          transition: .3s ease;
          transform: rotate(180deg);
        }
      }

      .link-colap.collapsed {
        color: $text-03;

        .icon-arrow-down {
          transform: rotate(0deg);
        }
      }

      .cont-colap {
        display: flex;
        flex-wrap: wrap;
        background-color: #F6F9F7;

        .link-item {
          width: 100%;
          border-bottom: 2px solid #eaeaea;
          padding: 4px;
          padding-left: 36px;
          color: #666666;
          font-size: 14px;
          line-height: 32px;
          text-decoration: none;
          display: flex;

          &:hover {
            color: $primary-one;
          }

          .icon-arrow-down {
            font-size: 1.7rem;
            transition: .3s ease;
            transform: rotate(270deg);
          }
        }
      }
    }
    .otros {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        a {
            color: #666666;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
        }
        .todos {
            margin-bottom: 16px;
        }
        .pagos {
            display: flex;
            margin-bottom: 2px;
            span {
                font-size: 1.6rem;
                margin-right: 4px;
            }

        }
    }
  }
}

@media screen and (max-height: 450px) {
  .navmobile {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
