<div id="headerMobile" class="navmobile">
  <div id="sideBar">
    <div class="head">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="../../../../assets/img/brand/seguros-color.svg" alt="Seguros Bolívar">
    </div>
    <!-- item 1 -->
    <div class="item-colap">
      <a class="link-colap collapsed" data-toggle="collapse" href="#nav1" role="button" aria-expanded="false" aria-controls="nav1">
        <span class="icon-carro ico"></span>
        <p>Vehículos</p>
        <span class="icon-arrow-down ml-auto"></span>
      </a>
      <div class="collapse" id="nav1">
        <div class="cont-colap">
          <a href="#" class="link-item">
            SOAT 
            <span class="icon-arrow-down ml-auto"></span>
          </a>
          <a href="#" class="link-item">
            Seguro todo riesgo vehículo
            <span class="icon-arrow-down ml-auto"></span>
          </a>
          <a href="#" class="link-item">
            SOAT digital
            <span class="icon-arrow-down ml-auto"></span>
          </a>
        </div>
      </div>
    </div>
    <!-- item 2 -->
    <div class="item-colap">
      <a class="link-colap" data-toggle="collapse" href="#nav2" role="button" aria-expanded="true" aria-controls="nav2">
        <span class="icon-casa ico"></span>
        <p>Hogar</p>
        <span class="icon-arrow-down ml-auto"></span>
      </a>
      <div class="collapse show" id="nav2">
        <div class="cont-colap">
          <a href="#" class="link-item">
            Hogar para disfrutar
            <span class="icon-arrow-down ml-auto"></span>
          </a>
          <a href="#" class="link-item">
            Seguro de Arrendamiento
            <span class="icon-arrow-down ml-auto"></span>
          </a>
          <a href="#" class="link-item">
            Amparo hogar
            <span class="icon-arrow-down ml-auto"></span>
          </a>
        </div>
      </div>
    </div>
    <!-- item 3 -->
    <div class="item-colap">
      <a class="link-colap collapsed" data-toggle="collapse" href="#nav3" role="button" aria-expanded="false" aria-controls="nav3">
        <span class="icon-corazon ico"></span>
        <p>Vida</p>
        <span class="icon-arrow-down ml-auto"></span>
      </a>
      <div class="collapse" id="nav3">
        <div class="cont-colap">

        </div>
      </div>
    </div>
    <!-- item 4 -->
    <div class="item-colap">
      <a class="link-colap collapsed" data-toggle="collapse" href="#nav4" role="button" aria-expanded="false" aria-controls="nav4">
        <span class="icon-cruz ico"></span>
        <p>Salud</p>
        <span class="icon-arrow-down ml-auto"></span>
      </a>
      <div class="collapse" id="nav4">
        <div class="cont-colap">

        </div>
      </div>
    </div>
    <!-- item 5 -->
    <div class="item-colap">
      <a class="link-colap collapsed" data-toggle="collapse" href="#nav5" role="button" aria-expanded="false" aria-controls="nav5">
        <span class="icon-escudo-dinero ico"></span>
        <p>Capitalización</p>
        <span class="icon-arrow-down ml-auto"></span>
      </a>
      <div class="collapse" id="nav5">
        <div class="cont-colap">

        </div>
      </div>
    </div>
    <!-- item 6 -->
    <div class="otros">
      <a href="#" class="todos">Todos los seguros para usted y su familia</a>
      <a href="#" class="pagos">
        <span class="icon-tarjeta"></span>
        Realice sus pagos
      </a>
    </div>
  </div>

</div>
