@import '../../../../../assets/styles/variables';

#modalConfirmation {
    max-width: 560px;
    padding: 16px 48px;
    @media screen and (max-width: 990px) {
        padding: 16px 0;
    }
    h2 {
        color: #016D38;
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        font-family: $roboto-condensed;
    }
    .subtitle {
        color: #333333;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .button-group {
        color: #333333;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
}