<div id="modalConfirmation">
  <h2 mat-dialog-title>¡Hemos recibido su solicitud!</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h3 class="subtitle">Pronto nos podremos en contacto con usted para brindarle asesoría especializada.</h3>
      </div>
    </div>
  </mat-dialog-content>
  <!-- <mat-dialog-actions align="center" class="btns">
    <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Continuar</button>
  </mat-dialog-actions> -->
</div>
