@import '../../../../assets/styles/variables';

#quoting {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width:990px) {
    max-width: 640px;
  }

  .badge-quote {
    width: auto;
    background-color: $white;
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 16px 16px 0; 
    z-index: 1;
    text-transform: uppercase;
    @media screen and (max-width: 640px) {
      margin-left: 10px;
    }
    p {
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      border-left: 3px solid $secondary-one;
      padding-left: 8px;
      margin-bottom: .5rem;
      @media screen and (max-width: 640px) {
        font-size: 12px;
      }
    }
  }

  .mat-tab-header {
    .mat-tab-label-content {
      font-size: 2rem;
    }
  }

  .cont-tab {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 8px 24px;

    @media screen and (max-width:990px) {
      padding: 16px 0 24px 0;
      text-align: center;
    }

    .col-lg-2 {
      @media screen and (min-width:992px) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
}
