<div class="container">
  <div id="quoting">
    <span class="badge-quote">
      <p>Cotice y adquiera su seguro</p>
    </span>
    <!-- inicio tabs -->
    <mat-tab-group>
      <!-- tab 1 -->
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="icon-carro"></span>
          <p class="mr-1 d-none d-lg-block">Seguro</p>
          <p>Todo Riesgo</p>
        </ng-template>
        <div class="cont-tab">
          <div class="col-12 col-lg-2">
            <form>
              <mat-form-field>
                <input matInput placeholder="Placa del vehículo">
              </mat-form-field>
            </form>
          </div>
          <div class="col-12 col-lg-2">
            <form>
              <mat-form-field>
                <input matInput placeholder="Ciudad de movilización">
              </mat-form-field>
            </form>
          </div>
          <div class="col-12 col-lg-2">
            <form>
              <mat-form-field>
                <mat-label>Tipo de documento</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option value="option1">Cédula de ciudadania</mat-option>
                  <mat-option value="option2">Pasaporte</mat-option>
                  <mat-option value="option3">Cédula de extranjería</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <div class="col-12 col-lg-2">
            <form>
              <mat-form-field>
                <input matInput placeholder="Número de documento">
              </mat-form-field>
            </form>
          </div>
          <div class="col-12 col-lg-2">
            <button class="btn btn-pill btn-primary" [routerLink]="['/todo-riesgo']">INICIAR PROCESO</button>
          </div>
        </div>
      </mat-tab>

      <!-- tab 2 -->
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="icon-casa"></span>
          <p class="mr-1 d-none d-lg-block">Seguro de</p>
          <p>Arrendamiento</p>
        </ng-template>
        Content 2
      </mat-tab>

      <!-- tab 3 -->
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="icon-corazon"></span>
          <p class="mr-1 d-none d-lg-block">Seguro de</p>
          <p>Vida</p>
        </ng-template>

        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
