.btn {
    border: 0;
}
.btn {
    box-shadow: none;
}
.btn-pill {
    border-radius: 20px;
}
.btn-primary {
    background-color: $primary-one;
    color: $white;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    border-radius: 20px;
    max-width: 260px;
    text-transform: uppercase;
    &:hover {
        background-color: $primary-one-dark;
        color: $white;
        text-decoration: none;
    }
}
.btn-primary-outline {
  background-color: transparent;
  color: $primary-one;
  border: 1.5px solid $primary-one;
  font-size: 14px;
  font-weight: bold;
  max-width: 260px;
  border-radius: 20px;
  padding: 8px 24px;
  text-transform: uppercase;
  &:hover {
      background-color: $primary-one;
      color: $white;
      text-decoration: none;
  }
}
.btn-secondary {
    background-color: $secondary-one;
    color: $primary-one;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    &:hover {
        background-color: $secondary-one-dark;
        color: $primary-one;
    }
}

.text-link-primary {
    color: $primary-one;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    &:hover {
        color: $primary-one-dark;
    }
}

.text-link {
  color: $secondary-one;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  &:hover {
      color: $secondary-one-dark;
  }
}


.btn-cotizar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 16px auto;
  max-width: 400px;
  justify-content: center;

  a {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .detalle {
    color: $primary-one;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    @media screen and (max-width: 640px){
        margin-bottom: 16px;
    }

    &:hover {
      color: $primary-one-light;
    }

    .icon-documento {
      margin-right: 4px;
      margin-bottom: 4px;
      font-size: 1.5rem;
    }
  }

  .btn-primary {
    width: auto;
    min-width: 170px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $primary-one-dark;
  border-color: $primary-one-dark;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}