/* card blog */

.cont-card {
  display: flex;
  justify-content: center;
  .link-blog {
    color: $text-03;
    margin: 16px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      transition: .3s ease-out;
      text-decoration: none;
      color: $text-03;
      box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.2);

      .card-blog {
        .txt-blog {
          h3 {
            color: $primary-one;
          }
        }
      }
    }

    &:focus {
      box-shadow: 2px 4px 15px 0 rgba(1, 109, 56, .3);
      outline: none;
    }
    .card-blog {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      background-color: $white;

      .img-text {
        img {
          width: 100%;
        }
      }
      .img-blog {
        min-height: 230px;
        max-height: 235px;
        overflow: hidden;
        img {
          max-width: initial;
        }
      }

      .txt-blog {
        padding: 16px;

        @media screen and (min-width: 990px) {
          min-height: 150px;
          overflow: hidden;
        }

        @media screen and (max-width: 640px) {
          padding: 8px;
        }

        h3 {
          color: $primary-one;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          @media screen and (max-width: 640px) {
            display: none;
          }
        }
      }
    }
  }
}

/* card otros productos */

.card-others {
  background-color: $white;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 36px;

  &:hover {
    transition: .3s ease-out;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.2);
  }

  .photo {
    width: 100%;
    min-height: 225px;
    max-height: 225px;
    margin-bottom: 8px;
    overflow: hidden;
    img {
      min-height: 225px;
    }
  }
  .body-card {
    padding: 16px;
    h4 {
      color: $text-05;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }
    p {
      color: $text-03;
      font-size: 14px;
      margin-bottom: 16px;
    }
    ul {
      padding-left: 16px;
      margin-bottom: 24px;
      li {
        list-style: disc;
        color: $primary-one;
      }
    }
    .btn-others {
      text-align: center;
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
    }
  }
}

/* card multimedia */

.card-multimedia {
  display: block;
  background-color: $white; 
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  &:hover {
      text-decoration: none;
      transition: .3s ease-out;
      box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.2);
    .thumbnaill {
      .icon-play {
        color: $white;
      }
    }
    .txt {
      p {
        color: $primary-one;
      }
    }
  }
  .thumbnaill {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-play {
          position: absolute;
          font-size: 2rem;
          color: $secondary-one;
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
      }
      .duracion {
          position: absolute;
          right: 10px;
          bottom: 5px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          line-height: 19px;
      }
      img {
          width: 100%;
      }
  }
  .txt {
      background-color: $white;
      padding: 16px;
      p {
          color: #333333;
          font-size: 19px;
          font-weight: bold;
          text-decoration: none;
      }
  }
}


#others-services {
  .row {
    .card-item {
      background: $white;
      padding: 0px;
      max-width: 360px;
      position: relative;
      margin: 10px;
      text-align: left;

      a {
        text-decoration: none;
      }

      .title-card {
        font-size: 18px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        color: $primary-one;
        font-weight: 600;
        padding: 16px;
        position: absolute;
        bottom: -60px;
        width: 100%;
        transition: 0.2s;
        background: $white;
      }

      &:hover .title-card {
        padding: 20px 16px;
        color: $primary-one;
      }

      &.text-only {
        top: 60px;

        a {
          font-size: 18px;
          color: $primary-one;
          text-decoration: none;

          &:hover {
            color: $primary-one;
          }
        }
      }
    }

    @media screen and (max-width: 1180px) {
      .card-item {
        max-width: 290px;
      }
    }

    @media screen and (max-width: 768px) {
      .card-item {
        max-width: 46%;
      }
    }

    @media screen and (max-width: 510px) {
      .card-item {
        max-width: 80%;

      }
    }
  }

  @media screen and (max-width: 510px) {
    .item-services {
      h2 {
        justify-content: center;
      }

      .row {
        justify-content: center;
        margin-bottom: 24px;
      }

      .card-item {
        max-width: 100%;
        min-width: 390px;
        margin: 20px 0 80px;
        ;

        img {
          width: 100%;
        }

        &.text-only {
          margin: 8px 0px;
          top: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .item-services {
      .card-item {
        max-width: 100%;
        min-width: 90%;
        margin: 16px 0 64px;
        ;

        img {
          width: 100%;
        }
      }
    }
  }
}
