.title {
  h3 {
    color: $text-05;
    font-size: 35px;
    font-weight: bold;

    @media screen and (max-width: 640px) {
      font-size: 22px;
    }
  }

  p {
    color: $text-05;
    font-size: 20px;
    line-height: 30px;
  }
}

#faq {
  .colap-item {
    border-bottom: 1px solid rgba(102, 102, 102, .3);
    margin-bottom: 16px;
    padding: 8px;
  
    .link-faq {
      color: $primary-one;
      font-size: 19px;
      font-weight: bold;
      line-height: 23px;
      display: flex;
  
      &:hover {
        color: $primary-one-light;
        text-decoration: none;
      }
  
      .icon-arrow-down {
        font-size: 1.7rem;
        transition: .3s ease;
        transform: rotate(180deg);
      }
    }
  
    .link-faq.collapsed {
      .icon-arrow-down {
        transform: rotate(0deg);
      }
    }
  
    .txt-faq {
      margin: 8px 0;
      padding-left: 32px;
  
      p {
        color: $text-03;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

#directory {
  .colap-item {
    border-bottom: 1px solid rgba(102, 102, 102, .3);
    margin-bottom: 16px;
    padding: 8px;
  
    .link-faq {
      color: $primary-one;
      font-size: 19px;
      font-weight: bold;
      line-height: 23px;
      display: flex;
  
      &:hover {
        color: $primary-one-light;
        text-decoration: none;
      }
  
      .icon-arrow-down {
        font-size: 1.7rem;
        transition: .3s ease;
        transform: rotate(180deg);
      }
    }
  
    .link-faq.collapsed {
      .icon-arrow-down {
        transform: rotate(0deg);
      }
    }
  
    .txt-faq {
      margin: 8px 0;
      padding-left: 32px;
  
      p {
        color: $text-03;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}