.header-transparent {
  transition: .3s ease-in-out;

  #header {
    height: 110px;
    background-color: transparent;
    box-shadow: none;

    @media screen and (max-width: 640px) {
      max-height: 60px;
    }

    .navbar-brand {
      transition: .3s ease-in-out;
      width: 150px;
      background-image: url("assets/img/brand/seguros-blanco.svg");

      @media screen and (max-width: 640px) {
        width: 130px;
      }
    }
    .navbar-nav {
      .nav-link {
        color: $white;
        &:hover {
          color: $secondary-one;
        }
      }
      .nav-item.active {
        .nav-link {
          color: $secondary-one;
        }
      }
    }
  }
  .navbar #navbarNav .nav-item.show .nav-link {
    border: 0;
  }
}

.header-white {
  transition: .3s ease-in-out;
  #header {
    .head-mobile {
      .icon-burger, .icon-user, .icon-tarjeta {
        color: $text-03;
        font-size: 1.5rem;
      }
    }
    .text-link {
      color: $primary-one;
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      text-transform: uppercase;
      &:hover {
          color: $primary-one-dark;
      }
  }
  .text-link.br {
    border-right: 1px solid $text-03;
  }
  .log {
    p {
      color: $text-03;
    }
    span.icon-persona {
      color: $text-03;
    }
  }
  }
  #navBrand {
    @media screen and (max-width: 640px) {
      width: 140px;
    }
  }
}

.dropdown-menu {
  transition: .3s ease-in-out;
  opacity: 0;
  border: 1px solid #e9ecef;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  top: 97%;
}

.dropdown-menu.show {
  opacity: 1;
}

.blog {
  .slick-dots {
    position: relative;
  }
}

.img-pefil {
  width: 100%;
  max-width: 250px;
  height: 100px;
  border: 1px solid #fff;
  //border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;
  img {
    width: 100%;
  }
}

#quoting {
  .mat-tab-header {
    background-color: $white;
    border-bottom: 0;
    @media screen and (min-width:990px) {
      padding: 0 36px;
    }
    .mat-tab-label-content {
      font-size: 16px;
      font-weight: 600;
      @media screen and (max-width:990px) {
        display: block;
        font-size: 12px;
      }
        span {
          font-size: 1.8rem;
          margin-right: 8px;
          @media screen and (max-width:990px) {
            display: block;
            width: 100%;
            font-size: 1.2rem;
          }
        }
    }
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $primary-one;
  }

  .mat-tab-label.mat-ripple.mat-tab-label-active {
    color: $primary-one;
    opacity: 1;
  }
  .mat-tab-label {
    padding: 0 16px;
  }
  .mat-tab-labels {
    @media screen and (max-width:990px) {
      justify-content: center;
    }
  }
  /* color focused input */
  .mat-focused .mat-form-field-label {
    color: $primary-one;
  }

  .mat-form-field-ripple {
    background-color: $primary-one;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $primary-one;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $primary-one;
  }

}
#insurance {
  .mat-tab-header {
    margin-bottom: 24px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  .mat-tab-labels {
    justify-content: space-between;
  }
  .mat-tab-label {
    text-transform: uppercase;
    color: $white;
  }
  .mat-tab-label.mat-ripple.mat-tab-label-active {
    color: $secondary-one;
    opacity: 1;
  }
  .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $secondary-one;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }
}

#requestCall {
  /* input outline */
  .mat-form-field-infix {
    border-top: .3em solid transparent;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    background-color: $white;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    background-color: $white;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    background-color: $white;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .7em 0 .7em 0;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $white;
    //margin-top: -.5em;
    //top: 1.7em;
  }
  .mat-form-field-label-wrapper {
    overflow: visible;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $complementary-three;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: initial;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-2em) translateX(-.5em) scale(0.75);
    color: white;
  }
}

#protected {
  .mat-tab-header {
    background-color: #313131;
    margin-bottom: 24px;
  }
  /* .mat-tab-body-wrapper {
    background-color: white;
  } */
  .mat-tab-labels {
    justify-content: space-around;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $secondary-one;
  }

  .mat-tab-label.mat-ripple.mat-tab-label-active {
    color: $secondary-one;
    opacity: 1;
  }
  .mat-tab-label {
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
  }
}

#quotingProducts {
  .mat-focused .mat-form-field-label {
    color: $primary-one;
  }

  .mat-form-field-ripple {
    background-color: $primary-one;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $primary-one;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $primary-one;
  }
}


#paginator {
  .mat-form-field {
    height: 40px;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-select-arrow {
    border: 0;
  }
  .icon-arrow-down {
    position: absolute;
    font-size: 1.5rem;
    right: -10px;
    top: 6px;
    color: $primary-one;
    background-color: $white;
    height: 36px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #e0e0e0;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8em 0 .8em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    height: 40px;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $primary-one;
  }
}

/* estilo titulo páginas estáticas */

.title {
  margin-bottom: 24px;
  h3 {
      font-size: 35px;
      padding-left: 16px;
      border-left: 3px solid $secondary-one;
      margin-bottom: 36px;
      color: $primary-one;
      @media screen and (max-width:640px) {
          font-size: 22px;
      }
  }
  h4 {
    padding-left: 16px;
    font-size: 20px;
    @media screen and (max-width:640px) {
        font-size: 16px;
    }
  }
}

#cdk-overlay-0, #cdk-overlay-1 {
  max-width: 100vw; 
  @media screen and (max-width:640px) {
    max-width: 90vw !important;
  }
  .mat-dialog-container {
    padding: 24px 16px;
  }
}

.select-drop {
  margin-bottom: 24px;
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ced4da;
    opacity: 1;
    &:before {
      content: '\e901';
      font-family: 'bolivar';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
      color: white;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    background-color: #006d38;
    border-radius: 5px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8rem 0 .7rem 0;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0);
    visibility: hidden;
  }
  .mat-select-value {
    color: white;
    font-weight: bold;
  }
}