.mat-form-field {
    width: 100%;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $primary-one;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $primary-one-light;
}

.button-group {
    display: flex;
    .customradio {
      display: none;
      +label {
        padding: .375rem .75rem;
        background-color:#fff;
        color: #2B2B2B;
        border: 1px solid #999;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        i {
            width: 100%;
            font-size: 1.7rem;
        }
        p {
            margin-bottom: 0;
        }
      }
      &:checked + label {
        background-color: #E0E0E0;
        color: $primary-one;
        font-weight: bold;
      }
    }
  }


.select-bolivar {
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ced4da;
    opacity: 1;
    &:before {
      content: '\e901';
      font-family: 'bolivar';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
      color: #006d38;
      border-left: 1px solid #ced4da;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8rem 0 .7rem 0;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0);
    visibility: hidden;
  }
}