@import "../styles/variables";

* {
    font-family: $roboto-condensed;
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        &:focus {
            outline: none !important;
        }

    }
}

body {
    font-family: $roboto-condensed;
    //background-color: $complementary-one;
    color: black;
    line-height: 1.5;
    list-style: none;
    //height: 3000px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: 767px) {
        background-color: inherit;

    }
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto-condensed;
}

p {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $default-controls-02;
    &:hover {
        color: $default-controls-02-dark;
    }
}

nav {
    line-height: normal;
}
