@import '../../../assets/styles/variables';

#bodyCategory {
    .tit {
        max-width: 768px;
        width: 100%;
        margin: 36px auto;
        h1 {
            color: $primary-one;
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 24px;
            @media screen and (max-width: 640px) {
                font-size: 22px;
            }
        }
        p {
            color: #333;
            font-size: 16px;
            text-align: center;
        }
    }
    .cont-card {
        margin-bottom: 24px;
        .card-blog {
            padding-bottom: 24px;
        }
        .txt-blog {
            min-height: 204px;
            max-height: 205px;
            overflow: hidden;
            h2 {
                color: #434343;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
            }
            @media screen and (max-width: 640px) {
                padding: 16px;
            }
             p {
                @media screen and (max-width: 640px) {
                    display: block;
                }
             }
        }
    }
}