<div class="header-white">
  <app-header></app-header>
</div>
 
<app-breadcrumb></app-breadcrumb>


<div id="bodyCategory">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tit">
          <h1>Responsabilidad civil</h1>
          <p>Protegemos el patrimonio de una empresa o persona ante una demanda o reclamación en su contra. En la
            reclamación la víctima exige que se le indemnice por los perjuicios que ha tenido como consecuencia de un
            error, una acción negligente, imprudente, no precavida o por el ejercicio de una actividad con impericia por
            parte de nuestro asegurado. Los perjuicios pueden ser a bienes o personas.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../../assets/img/sub-categoria/sub1.png" alt="Responsabilidad Civil">
              </div>
              <div class="txt-blog">
                <h2>Mercancías peligrosas</h2>
                <p>Este seguro protege el patrimonio de las empresas cuando afectan a una persona externa a su organización durante el desarrollo de actividades relacionadas con el manejo de mercancías peligrosas dentro del territorio nacional.</p>
              </div>
              <a href="#" class="btn-primary-outline">CONOZCA EL SEGURO</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../../assets/img/sub-categoria/sub2.png" alt="Responsabilidad Civil">
              </div>
              <div class="txt-blog">
                <h2>Industria de hidrocarburos</h2>
                <p>Este seguro protege el patrimonio de las empresas cuando afectan a una persona externa a su organización durante el desarrollo de actividades relacionadas con el manejo de hidrocarburos dentro del territorio nacional.</p>
              </div>
              <a href="#" class="btn-primary-outline">CONOZCA EL SEGURO</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../../assets/img/sub-categoria/sub3.png" alt="Responsabilidad Civil">
              </div>
              <div class="txt-blog">
                <h2>Empresas de Vigilancia</h2>
                <p>Este seguro protege el patrimonio de las empresas de vigilancia de afectaciones patrimoniales o extra patrimoniales  por el uso indebido de armas de fuego y otros elementos de vigilancia y seguridad privada.</p>
              </div>
              <a href="#" class="btn-primary-outline">CONOZCA EL SEGURO</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../../assets/img/sub-categoria/sub4.png" alt="Responsabilidad Civil">
              </div>
              <div class="txt-blog">
                <h2>Extracontractual</h2>
                <p>Nuestros seguros  protegen su patrimonio cuando, como consecuencia de su actividad laboral, afecta a una persona externa a su organización, sus bienes o el entorno.</p>
              </div>
              <a href="#" class="btn-primary-outline">CONOZCA EL SEGURO</a>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="cont-card">
          <a href="#" class="link-blog">
            <div class="card-blog">
              <div class="img-blog">
                <img src="../../../assets/img/sub-categoria/sub5.png" alt="Responsabilidad Civil">
              </div>
              <div class="txt-blog">
                <h2>Médicos y odontólogos</h2>
                <p>Este seguro protege el patrimonio de los médicos y odontólogos cuando como consecuencia de su actividad laboral afectan a sus pacientes por actos negligentes, impericias, errores u omisiones.</p>
              </div>
              <a href="#" class="btn-primary-outline">CONOZCA EL SEGURO</a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<app-customer-service></app-customer-service>

<app-footer></app-footer>