<div id="headerTop">
  <div class="container">
    <div class="tabs-top">
      <a class="link-top" [ngClass]="{'active': activeLink == 0}" [routerLink]="['/']">Personas</a>
      <a class="link-top" [ngClass]="{'active': activeLink == 1}" [routerLink]="['/empresas']">Empresas</a>
      <a class="link-top" [ngClass]="{'active': activeLink == 2}" [routerLink]="['/']">ARL</a>
      <a class="link-top" [ngClass]="{'active': activeLink == 3}" [routerLink]="['/']">Clientes Davivienda</a>
      <div class="call ml-auto"> 
        <p class="emergency">¿Tiene una emergencia?</p>
        <a href="#" class="text-link">LLÁMENOS AHORA</a>
      </div>
    </div>
  </div>
</div>

<nav id="header" class="navbar navbar-expand-md">
  <div class="container">

    <div class="head-mobile">
      <a id="navBrand" class="navbar-brand mr-auto" href="#"></a>
      <span class="d-block d-sm-none icon-tarjeta mr-3">
        <P>
          PAGOS
        </P>
      </span>
      <span class="d-block d-sm-none icon-user mr-2">
        <P>
          CLIENTES
        </P>
      </span>
      <button class="d-block d-md-none">
          <span class="icon-burger" onclick="openNav()">
            <P>
              MENÚ
            </P>
          </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navbarNav" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" onclick="drop()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vehículos
            <span class="icon-arrow-down"></span>
          </a>
          <div id="drop1" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="cont-drop">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <ul class="list-drop">
                      <li>
                        <a class="dropdown-item" href="#">Seguro todo riesgo vehículo ></a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">SOAT</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <p class="lead-drop">Todos los seguros para su familia usted y su familia ></p>
              </div>
              <div class="col-4">
                  <a href="#" class="img-link">
                    <p>Descargue su SOAT digital</p>
                    <img src="../../../../assets/img/nav/menu-1.jpg" alt="Descargue su SOAT digital">
                  </a>
              </div>
            </div>
          </div>
        </li>
        <!-- nav 2 -->
        <li class="nav-item">
          <a class="nav-link" onclick="drop()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hogar
            <span class="icon-arrow-down"></span>
          </a>
          <div id="drop2" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="cont-drop">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <ul class="list-drop">
                      <li>
                        <a class="dropdown-item" href="#">Bienestar y salud</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Essential Care ></a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Select Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Premier Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Elite Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Ultimate Health plan</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <p class="lead-drop">Todos los seguros para su familia usted y su familia ></p>
              </div>
              <div class="col-4">
                  <a href="#" class="img-link">
                      <p>Seguro de salud</p>
                    <img src="../../../../assets/img/nav/menu-2.jpg" alt="Bienestar y Salud">
                  </a>
              </div>
            </div>
          </div>
        </li>
        <!-- nav 3 -->
        <li class="nav-item">
          <a class="nav-link" onclick="drop()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vida
            <span class="icon-arrow-down"></span>
          </a>
          <div id="drop3" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="cont-drop">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <ul class="list-drop">
                      <li>
                        <a class="dropdown-item" href="#">Bienestar y salud</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Essential Care ></a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Select Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Premier Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Elite Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Ultimate Health plan</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <p class="lead-drop">Todos los seguros para su familia usted y su familia ></p>
              </div>
              <div class="col-4">
                  <a href="#" class="img-link">
                      <p>Seguro de salud</p>
                    <img src="../../../../assets/img/nav/menu-2.jpg" alt="Bienestar y Salud">
                  </a>
              </div>
            </div>
          </div>
        </li>
        <!-- nav 4 -->
        <li class="nav-item">
          <a class="nav-link" onclick="drop()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Salud
            <span class="icon-arrow-down"></span>
          </a>
          <div id="drop4" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="cont-drop">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <ul class="list-drop">
                      <li>
                        <a class="dropdown-item" href="#">Bienestar y salud</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Essential Care ></a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Select Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Premier Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Elite Health plan</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Global Ultimate Health plan</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <p class="lead-drop">Todos los seguros para su familia usted y su familia ></p>
              </div>
              <div class="col-4">
                   <a href="#" class="img-link">
                    <p>Seguro de salud</p>
                    <img src="../../../../assets/img/nav/menu-2.jpg" alt="Bienestar y Salud">
                  </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Capitalización</a>
        </li>
      </ul>
      <div class="cta-primary">
        <a class="text-link" href="#">Realice sus pagos</a>
        <button class="btn btn-pill btn-secondary" type="submit" [routerLink]="['/sesion-personas']">ACCESO A CLIENTES</button>
      </div>
    </div>
  </div>
</nav>

<app-nav-mobile></app-nav-mobile>