@import "../../../../assets/styles/variables";

#headerTop {
    position: fixed;
    background-color: $primary-one;
    height: 30px;
    width: 100%;
    transition: .3s ease-in-out;
    z-index: 11;
    border-bottom: 1px solid $primary-one-light;
    .container {
      padding: 0;
    }
    .tabs-top {
      display: flex;
      align-items: center;
      padding-left: 205px;
      height: 30px;
      @media screen and (max-width: 640px) {
        padding-left: 0;
        width: 100%;
        justify-content: center;
      }
      .call {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        background-color: #333;
        padding: 0 24px;
        position: relative;
        top: -1px;
        &::after {
          background-color: #333;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
        .emergency {
          margin-right: 16px;
          color: $white;
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
        }
        .text-link {
          font-size: 17px;
        }
      }
      .link-top {
        margin-right: 36px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-flex;
        justify-content: center;
        color: #85bb91;
        font-size: 13px;
        &:hover {
          color: $secondary-one;
        }
        @media screen and (max-width: 640px) {
          margin: 0 8px;
          font-size: 12px;
        }
      }
      a.active {
        color: white;
        border-top: 3px solid $primary-one-light;
        height: 30px;
        padding-top: 3px;
        @media screen and (max-width: 640px) {
          border-top: 0;
          border-bottom: 3px solid $primary-one-light;
          padding-top: 6px;
        }
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border: 10px solid;
          border-color: $primary-one-light transparent transparent;
          margin: 0 auto;
          top: 30px;
        }
        &::after {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border: 10px solid;
          border-color: $primary-one transparent transparent;
          margin: 0 auto;
          top: 28px;
        }
        &::before, &::after {
          @media screen and (max-width: 640px) {
            display: none;
          }
        }
      }
    }
}

.navbar {
    padding: 0 20px;
    position: fixed;
    top: 30px;
    transition: .3s ease-in-out;
    width: 100%;
    z-index: 10;
    height: 60px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    .head-mobile {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 640px) {
        width: 100%;
      }
      .icon-burger, .icon-user, .icon-tarjeta {
        color: $secondary-one;
        font-size: 1.5rem;
        text-align: center;
        P {
          font-size: 9px;
        }
      }
    }
    .cta-primary {
      @media screen and (max-width: 990px) {
        display: none;
      }
      .text-link {
        margin-right: 16px;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          margin-right: 16px;
        }
      }
      .btn.btn-secondary {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          min-width: auto;
        }
      }
    }
    .navbar-brand {
        width: 150px;
        margin-right: 1.5rem;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s ease-in-out;
        background-image: url("../../../../assets/img/brand/seguros-color.svg");
        img {
            max-width: 100%;
        }
    }
    .navbar-nav {
      .nav-link {
        color: $text-03;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $primary-one;
          background-color: transparent;
        }
      }
      .nav-item {
        .dropdown-menu {
          padding: 16px 0;
          width: 100%;
          border-radius: 0;
          margin: 0;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        }
        .cont-drop {
          max-width: 765px;
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          .list-drop {
            min-height: 100px;
            list-style: disc;
            padding-left: 16px;
            color: $text-03;
            column-count: 2;
            li {
              max-width: 230px;
              width: 100%;
              height: 32px;
              .dropdown-item {
                font-size: 16px;
                color: $text-03;
                padding: 4px;
                &:hover, &:active {
                  color: $primary-one;
                  background-color: $secondary-one;
                  max-width: fit-content;
                }
              }
            }
          }
          .lead-drop {
            color: $text-03;
            font-size: 14px;
            font-weight: bold;
          }
          .img-link {
            position: relative;
            width: 100%;
            height: 130px;
            display: flex;
            color: white;
            font-weight: 600;
            font-size: 16px;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%);
            }
            &:hover {
              p {
                text-decoration: underline;
              }
            }
            p {
              position: absolute;
              bottom: 10px;
              left: 10px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      .nav-item.show {
        .nav-link {
          color: $primary-one;
          border-bottom: 2px solid $primary-one;
          padding: 0;
          margin: .5em;
        }
      }
      .nav-item.active {
        .nav-link {
          color: $primary-one;
        }
      }
    }
    .navbar-nav.mr-auto.dark-bar {
      .nav-link {
        color: #1b1b1b;
      }
      .nav-item.active {
        .nav-link {
          color: $primary-one;
        }
      }
    }
    .cta-primary {
      .btn-secondary {
        font-weight: 700;
        min-width: 180px;
      }
    }
}
