<div id="requestCall">
  <div class="filter"></div>
  <div class="cont-call">
    <div class="col-12 mb-3">
      <h3>SOLICITE UNA LLAMADA PARA COTIZAR SU SEGURO</h3>
    </div>
    <div class="col-12">
      <button (click)="openDialog()" class="btn btn-pill btn-secondary mb-2" type="submit">QUIERO QUE ME LLAMEN</button>
    </div>
    <div class="col-12 whatsapp">
        <p class="mb-3">Si lo prefiere, escribanos a <span class="icon-whatsapp"></span><a href="#">WHATSAPP</a></p>
        <p class="lead">En caso de ser proveedor o intermediario, comuníquese con nuestra línea de atención <b>#322</b></p>
    </div>
  </div>
</div>
