@import '../../../../assets/styles/variables';

#requestCall {
    background-image: url('../../../../assets/img/bg-call.jpg');
    background-size: cover;
    background-position: center;
    min-height: 240px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 640px){
        margin: 0 10px;
    }
    .filter {
        position: absolute;
        background-color: rgba(255, 220, 93, 0.1);
        width: 100%;
        height: 100%;
        filter: saturate(1);
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 109, 56, .7);
        }
    }
    .cont-call {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 24px;
        h3 {
            color: $white;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            @media screen and (max-width: 640px){
              font-size: 22px;
          }
        }
        .whatsapp {
            p {
                color: $white;
                font-size: 20px;
                span {
                    text-decoration: none;
                    margin-right: 4px;
                }
                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
            .lead {
                color: #FFFFFF;
                font-size: 16px;
                font-weight: normal;
                line-height: 19px;
                text-align: center;
            }
        }
    }
    .title-call {
        width: 100%;
    }
    .input-field {
        display: flex;
        input {
            border: 1px solid #9e9e9e;
            border-radius: 5px;
            padding: 0 8px;
            background: $white;
        }
        label {
            pointer-events: none;
            margin-left: 8px;
            &.active {
                color: $white;
                transform: translateY(-20px) scale(0.8);
                max-width: fit-content;
                margin-left: 8px;
            }
        }
    }
}
